<header id="header" [ngClass]="{'nav_mod': scrollDownClass}">

  <div class="container__header">

    <a [routerLink]="['/inicio']" class="brand" id="logo">
      <img src="assets/logoE.png" height="80" alt="logo">
    </a>

    <nav  class="menu" (click)="toggleMenu()" [ngClass]="{'active': isMenuActive}">
      <div class="btn">
        <i class="fas fa-times close-btn"></i>
      </div>
      <ul>
        <!-- TODO: ALGO EN EL FOR O IF SE PUEDE MEJORAR -->
        <strong>Bienvenido</strong>
        <li *ngFor="let item of toolbarItems">
          <div *ngIf="!item.url; else urlist">
            <a (click)="onLogout()"><i [class]="item.icon"></i>{{item.label}}</a>
          </div>
          <ng-template #urlist>
            <a [routerLink]="item.url"><i [class]="item.icon"></i>{{item.label}}</a>
          </ng-template>
        </li>

      </ul>
    </nav>
    <div class="btn">
      <i class="fas fa-bars menu-btn" (click)="toggleMenu()"></i>
    </div>

  </div>


</header>
