<div class="container">

      <div class="card-perfil">
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/perfil-usuario.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Nestor Daniel Basave Davalos</h5>
                <p class="card-text"><strong>Número de Socio: </strong>860</p>
                <p class="card-text"><strong>Correo: </strong>ne.s.tor-10@hotmail.com</p>
                <p class="card-text"><strong>Teléfono: </strong>33 23724897</p>
                <p class="card-text"><strong>Domicilio: </strong>Malinche 117, Ciudad Aztlan, Tonala, Jalisco</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <button type="button" class="btn btn-warning mt-4" routerLink="/inicio/edit">Editar informacion</button>
              </div>
            </div>
          </div>
        </div>
    </div>


  <div class="row modulos">

    <div class="col-md-4 col-sm-12">
      <div class="card-completado bg-verdebajito p-4 mb-3 mb-md-0 text-center rounded">
        <h2>MÓDULO 1 REALIZADO</h2>
        <P>Has concluido el módulo 1 exitosamente</P>
        <i class="fi fi-sr-comment-alt-check"></i>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card-uncomplete bg-verdebajito p-4 mb-3 mb-md-0 text-center rounded">
        <h2>MÓDULO 2 <br>NO REALIZADO</h2>
        <P>Aun no haz completado ente modulo</P>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card-uncomplete bg-verdebajito p-4 mb-3 mb-md-0 text-center rounded">
        <h2>MÓDULO 3 <br>NO REALIZADO</h2>
        <P>Aun no haz completado ente modulo</P>
      </div>
    </div>

  </div>

</div>
