<form action="">
  <div class="content-form">
    <h3>AUTOEVALUACIÓN</h3>
    <p>A continuación, encontrarás una sencilla evaluación con la que quedará concluido tu primer módulo de
      Educación Cooperativa y Financiera. </p>



    <div class="form-group">
      <label class="subtitle">Nombre Completo *</label>
      <input class="form-control" type="text" name="" id="" required>
    </div>

    <div class="form-group">
      <label class="subtitle">Correo *</label>
      <input class="form-control" type="email" name="" id="" required>
    </div>

  </div>

  <!-- Con el ngFor recorremos el arreglo 'preguntas' en una variable pregunta  -->
  <div class="content-form p-0" *ngFor="let pregunta of preguntas; let i = index" [ngClass]="{'respCor': error[i] === 1, 'respInc': error[i] === 0 }">

    <div class="form-group">
      <!-- imprimimos la pregunta numero 1 en el arreglo-->
      <label class="subtitle-preg">{{ pregunta.pregunta }}</label>
      <div class="opciones">
        <!-- Recorremos las opciones del arreglo 'preguntas.opciones' y las asignamos en una variable llamada opcion  -->
        <div *ngFor="let opcion of pregunta.opciones">
          <div class="form-check">
            <!-- name="pregunta{{ en el iterador del ngfor anterior }}" id="pregunta{{ iterador ngfor anteior }}-{{ string de la opcion }}" [(ngModel)]="llamamos a la propiedad respuestasSeleccionadas
              en la pociion en la que se encuente" value se pone en llaves cuadradas ya que es una propiedad del elemento en el cual tomara el valor de la opcion correspondiente -->
            <input class="form-check-input" type="radio" name="pregunta{{ i }}" id="pregunta{{ i }}-{{ opcion }}" [(ngModel)]="respuestasSeleccionadas[i]" [value]="opcion">
            <!-- for="pregunta{{ iterador del ngfor anterior }}-{{ opcion correspondiente de este ngfor }}" -->
            <label class="form-check-label" for="pregunta{{ i }}-{{ opcion }}">
              {{ opcion }}
            </label>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="col-auto">
    <button (click)="verificarRespuestas()" type="submit" class="btn btn-primary">Enviar Respuestas</button>
  </div>
</form>
