.retroalimentacion{
  margin: 100px 0;

  #introduccion{
    font-weight: 500;
  }

  p{
    font-size: 1.1rem;
    margin: 10px 0;
    line-height: 1.6;
  }
  small{
    background: #d2d2d2;
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    width: fit-content;
    height: fit-content;
    text-align: center;
  }

  .success{
    background-color: #419941;
    color: white;
  }

  input[type="submit"]{
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      background-color: #007bff;
    }
  }
  input[type="text"]{
    padding: 0 10px;
    color: #3765ae;
    font-weight: 700;
    margin: 5px 0;
    border: 2px solid #3765ae;
    border-radius: 10px;
  }
}
