<div class="modulo4">

  <section class="inicio">
    <div class="container">

      <div class="movil-inicio d-flex d-md-none pt-5">
        <img class="" src="assets/img-modulo4/titulo-modulo4.svg" alt="">
      </div>

      <div class="row d-none d-md-flex">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
          <img src="assets/img-modulo4/cpsp-matiz.webp" alt="">
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
          <img src="assets/img-modulo4/titulo-modulo4.svg" alt="">
        </div>
      </div>


    </div>
  </section>

  <div class="objetivo-general">
    <div class="container">
      <div class="tema">
        <div class="objetivo">
          <h2>OBJETIVO GENERAL</h2>
          <p>Conocer el origen, filosofía, presente, futuro, organización y funcionamiento de Caja Popular San
            Pablo.</p>
        </div>

        <h3>TEMA</h3>
        <ul>
          <li>Caja Popular San Pablo: inicios y su presente.</li>
          <li>Estructura de Caja Popular San Pablo</li>
          <li>Caja Popular San Pablo: Crédito, Ahorro y Educación</li>
          <li>Símbolos de Caja Popular San Pablo</li>
          <li>Retroalimentación</li>
        </ul>
        <img class="img-introduccion" src="assets/img-modulo4/hoja-introduccion.svg" alt="">
      </div>
    </div>


  </div>

  <section class="inicio-presente">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <img src="assets/img-modulo4/hoja-inicios-info.svg" alt="">
        </div>
        <div class="img-inicios col-12 col-md-4">
          <img src="assets/img-modulo4/imagenes-inicios.webp" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="linea-tiempo">
    <div class="container">
      <div class="lista-linea">
        <p>A continuación, se presenta la línea del tiempo para dar un recorrido a la historia de la Cooperativa.</p>
        <table>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1969</h2>
              <p>El Padre José Guadalupe Pineda inició ensayos en la
                finca N° 660 calle Cairo, col. Libertad Guadalajara Jalisco
                y fue nombrado Gerente el Sr. Roberto Torres Hernández.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1971</h2>
              <p>Oficialmente nos registramos con la Federación de
                Cajas Populares del Estado de Jalisco.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1972</h2>
              <p>Se celebró la 1ª Asamblea de Socios y se designó al
                Contador Federico Saldaña Aguayo como Gerente.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1979</h2>
              <p>Gracias a la colaboración de los Socios, se adquiere la
                primera propiedad en la calle Industria N° 3070 y la
                primera sustitución de un Consejo de Vigilancia.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1983</h2>
              <p>La Cooperativa se transformó a una Asociación Civil.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1984</h2>
              <p>Se dio el alta ante Registro Público de la Propiedad y
                Comercio.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1986</h2>
              <p>Celebramos los primeros 15 años de la Cooperativa.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1988</h2>
              <p>Sucursal Matriz inaugura oficinas de su primera planta.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1991</h2>
              <p>Edificamos el primer piso, en Oficina Matriz para usos
                múltiples.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1997</h2>
              <p>Iniciamos talleres de capacitación para Socios y
                Ahorradores Menores.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2003</h2>
              <p>Implementamos los servicios médicos en la Cooperativa.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2004</h2>
              <p>Apertura de la primer Sucursal Zalatitán.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2005</h2>
              <p>Logramos convenios con funerarias.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2007</h2>
              <p>Obtuvimos la autorización ante CNBV modificando la
                razón social a Caja Popular San Pablo S.C. de A.P. de R.L.
                de C.V.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2007</h2>
              <p>Inauguración segunda Sucursal José María Iglesias</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2008</h2>
              <p>Inauguramos la tercer Sucursal Zapopan.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2008</h2>
              <p>Inauguramos la cuarta Sucursal en San Pedrito.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2010</h2>
              <p>Nace nuestra mascota la hormiga constructora AKI</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2010</h2>
              <p>Apertura del punto de atención El Castillo.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2011</h2>
              <p>Instalamos la convocatoria de Becas a Socios y Ahorradores
                Menores en los 3 niveles básicos de educación.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2011</h2>
              <p>Festejamos el 40 aniversario, evento celebrado con
                cerca de 10 mil personas.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2011</h2>
              <p>Celebramos la primera Asamblea para Ahorradores
                Menores de entre 13 a 17 años de edad.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2011</h2>
              <p>Fallece nuestro fundador el Padre José Guadalupe
                Pineda Velásquez.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2012</h2>
              <p>Recibimos un reconocimiento en la CDMX a nivel
                Nacional por participar en el concurso “Desarrollo
                Institucional, Inclusión Social y Generación de Empleo”
                obteniendo el segundo lugar.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2013</h2>
              <p>Inauguración de Sucursal Santa Fe, Sucursal Chapala, Sucursal Tonalá, Sucursal Obrero, Sucursal Centro y Sucursal Tototlán</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2014</h2>
              <p>Somos la primera Cooperativa en lanzar un programa
                de radio propio nombrado “La Voz del Cooperativismo”
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2018</h2>
              <p>Inauguración de Sucursal Bahía Colón.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2018</h2>
              <p>Implementamos cajeros receptores y terminales punto de venta.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2019</h2>
              <p>Alcanzamos el Nivel IV de Operaciones ante la CNBV
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2019</h2>
              <p>Inauguración Sucursal San Pedro Tlaquepaque.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2020</h2>
              <p>Inauguración Sucursal Ocotlán</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2021</h2>
              <p>Libro Raíces de Familia San Pablo</p>
              <hr>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </section>

  <section class="actualidad">
    <div class="container">

      <div class="row">
        <div class="col-12 col-md-8">
          <img src="assets/img-modulo4/actualidad-cpsp.svg" alt="">
        </div>
        <div class="img-recepcion col-12 col-md-4">
          <img src="assets/img-modulo4/recepcion.webp" alt="">
        </div>
      </div>

    </div>
  </section>

  <section class="socap">
    <div class="container">

      <p>
        Las Sociedades Cooperativas de Ahorro y Préstamo (SOCAP) son Sociedades
        sin fines de lucro que tienen por objeto realizar operaciones de ahorro y
        préstamo únicamente con sus Socios. Caja Popular San Pablo logró su
        Certificación ante CNBV en 2007, así mismo, autorización a la figura de
        Sociedad Cooperativa de Ahorro y Préstamo: Caja Popular San Pablo S.C. de
        A.P. de R.L. de C.V. <br><br>
        Actualmente nos encontramos en el NIVEL IV (Monto de activos totales superiores a 250
        millones de UDIS), las operaciones autorizadas:
      </p>

      <ul>
        <li> Expedir y operar tarjetas de débito y tarjetas recargables.</li>
        <li> Recibir los apoyos del comité de protección al ahorro cooperativo, en términos del artículo 55 de la
          LRASCAP.</li>
        <li> Descontar, dar garantía o negociar títulos de crédito.</li>
        <li> Constituir depósitos a la vista o plazo en instituciones de crédito.</li>
        <li> Realizar inversiones en valores gubernamentales, bancarios y de sociedades de inversión en
          instrumentos de deuda.</li>
        <li> Recibir o emitir órdenes de pago y transferencias.</li>
        <li> Realizar la compra venta de divisas en ventanilla por cuenta propia.</li>
        <li> Distribuir entre sus socios, seguros que formalicen a través de contratos de adhesión.</li>
        <li> Distribuir entre sus socios fianzas.</li>
        <li> Recibir donativos.</li>
        <li> Aceptar mandatos y comisiones de entidades financieras, relacionadas con su objetivo.</li>
        <li> Realizar operaciones de factoraje financiero con sus socios o por cuenta de estos.</li>
        <li> Prestar servicios de caja de seguridad.</li>
        <li> Ofrecer el servicio de abono y descuento de nómina.</li>
        <li> Realizar la compra venta de divisas en ventanilla por cuenta propia o de terceros.</li>
        <li> Celebrar contratos de arrendamiento financiero con sus socios.</li>
        <li> Prestar servicios de caja y tesorería.</li>
        <li> Asumir obligaciones por cuenta de terceros, con base en créditos concedidos, a través del
          otorgamiento de aceptaciones, endoso o aval de títulos de crédito.</li>
        <li> Expedir tarjetas de crédito con base en contratos de apertura de crédito en cuenta corriente, a sus
          socios.</li>
        <li> Otorgar descuentos de toda clase, reembolsables a plazos congruentes con los de las operaciones
          pasivas que celebren.</li>
      </ul>

      <a href="https://www.condusef.gob.mx/?p=mapa-socap&ide=1">https://www.condusef.gob.mx/?p=mapa-socap&ide=1</a>

    </div>
  </section>

</div>
