<div class="modulo4">

  <section class="inicio">
    <div class="container">

      <div class="movil-inicio d-flex d-md-none pt-5">
        <img class="" src="assets/img-modulo4/titulo-modulo4.svg" alt="titulo modulo 4">
      </div>

      <div class="row d-none d-md-flex">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
          <img src="assets/img-modulo4/cpsp-matiz.webp" alt="Caja popular San Pablo">
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
          <img src="assets/img-modulo4/titulo-modulo4.svg" alt="titulo modulo 4">
        </div>
      </div>


    </div>
  </section>

  <div class="objetivo-general">
    <div class="container">
      <div class="tema">
        <div class="objetivo">
          <h2>OBJETIVO GENERAL</h2>
          <p>Conocer el origen, filosofía, presente, futuro, organización y funcionamiento de Caja Popular San
            Pablo.</p>
        </div>

        <h3>TEMA</h3>
        <ul>
          <li>Caja Popular San Pablo: inicios y su presente.</li>
          <li>Estructura de Caja Popular San Pablo</li>
          <li>Caja Popular San Pablo: Crédito, Ahorro y Educación</li>
          <li>Símbolos de Caja Popular San Pablo</li>
          <li>Retroalimentación</li>
        </ul>
        <img class="img-introduccion" src="assets/img-modulo4/hoja-introduccion.svg" alt="hoja introduccion">
      </div>
    </div>


  </div>

  <section class="inicio-presente">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <img src="assets/img-modulo4/hoja-inicios-info.svg" alt="hoja inicios informacion">
        </div>
        <div class="img-inicios col-12 col-md-4">
          <img src="assets/img-modulo4/imagenes-inicios.webp" alt="imagenes inicios">
        </div>
      </div>
    </div>
  </section>

  <section class="linea-tiempo">
    <div class="container">
      <div class="lista-linea">
        <p>A continuación, se presenta la línea del tiempo para dar un recorrido a la historia de la Cooperativa.</p>
        <table>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1969</h2>
              <p>El Padre José Guadalupe Pineda inició ensayos en la
                finca N° 660 calle Cairo, col. Libertad Guadalajara Jalisco
                y fue nombrado Gerente el Sr. Roberto Torres Hernández.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1971</h2>
              <p>Oficialmente nos registramos con la Federación de
                Cajas Populares del Estado de Jalisco.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1972</h2>
              <p>Se celebró la 1ª Asamblea de Socios y se designó al
                Contador Federico Saldaña Aguayo como Gerente.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1979</h2>
              <p>Gracias a la colaboración de los Socios, se adquiere la
                primera propiedad en la calle Industria N° 3070 y la
                primera sustitución de un Consejo de Vigilancia.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1983</h2>
              <p>La Cooperativa se transformó a una Asociación Civil.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1984</h2>
              <p>Se dio el alta ante Registro Público de la Propiedad y
                Comercio.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1986</h2>
              <p>Celebramos los primeros 15 años de la Cooperativa.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1988</h2>
              <p>Sucursal Matriz inaugura oficinas de su primera planta.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1991</h2>
              <p>Edificamos el primer piso, en Oficina Matriz para usos
                múltiples.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>1997</h2>
              <p>Iniciamos talleres de capacitación para Socios y
                Ahorradores Menores.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2003</h2>
              <p>Implementamos los servicios médicos en la Cooperativa.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2004</h2>
              <p>Apertura de la primer Sucursal Zalatitán.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2005</h2>
              <p>Logramos convenios con funerarias.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2007</h2>
              <p>Obtuvimos la autorización ante CNBV modificando la
                razón social a Caja Popular San Pablo S.C. de A.P. de R.L.
                de C.V.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2007</h2>
              <p>Inauguración segunda Sucursal José María Iglesias</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2008</h2>
              <p>Inauguramos la tercer Sucursal Zapopan.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2008</h2>
              <p>Inauguramos la cuarta Sucursal en San Pedrito.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2010</h2>
              <p>Nace nuestra mascota la hormiga constructora AKI</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2010</h2>
              <p>Apertura del punto de atención El Castillo.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2011</h2>
              <p>Instalamos la convocatoria de Becas a Socios y Ahorradores
                Menores en los 3 niveles básicos de educación.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2011</h2>
              <p>Festejamos el 40 aniversario, evento celebrado con
                cerca de 10 mil personas.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2011</h2>
              <p>Celebramos la primera Asamblea para Ahorradores
                Menores de entre 13 a 17 años de edad.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2011</h2>
              <p>Fallece nuestro fundador el Padre José Guadalupe
                Pineda Velásquez.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2012</h2>
              <p>Recibimos un reconocimiento en la CDMX a nivel
                Nacional por participar en el concurso “Desarrollo
                Institucional, Inclusión Social y Generación de Empleo”
                obteniendo el segundo lugar.
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2013</h2>
              <p>Inauguración de Sucursal Santa Fe, Sucursal Chapala, Sucursal Tonalá, Sucursal Obrero, Sucursal Centro
                y Sucursal Tototlán</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2014</h2>
              <p>Somos la primera Cooperativa en lanzar un programa
                de radio propio nombrado “La Voz del Cooperativismo”
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2018</h2>
              <p>Inauguración de Sucursal Bahía Colón.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2018</h2>
              <p>Implementamos cajeros receptores y terminales punto de venta.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2019</h2>
              <p>Alcanzamos el Nivel IV de Operaciones ante la CNBV
              </p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2019</h2>
              <p>Inauguración Sucursal San Pedro Tlaquepaque.</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2020</h2>
              <p>Inauguración Sucursal Ocotlán</p>
              <hr>
            </td>
          </tr>

          <tr>
            <td>
              <hr class="vertical-line">
            </td>
            <td>
              <h2>2021</h2>
              <p>Libro Raíces de Familia San Pablo</p>
              <hr>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </section>

  <section class="actualidad">
    <div class="container">

      <div class="row">
        <div class="col-12 col-md-7">
          <img src="assets/img-modulo4/actualidad-cpsp.svg" alt="hoja actualidad">
        </div>
        <div class="img-recepcion col-12 col-md-5">
          <img src="assets/img-modulo4/recepcion.webp" alt="recepcion matriz">
        </div>
      </div>

    </div>
  </section>

  <section class="myb-intro">

    <div class="container">
      <div class="row">
        <div class="hoja-myb col-12 col-md-8">
          <p>Para hablar del momento actual de esta Institución, comenzaremos por
            conocer su filosofía, en la cual descansan los objetivos, la Misión y la Visión.</p>
        </div>
        <div class="col-12 col-md-4 d-none d-md-block">
          <img src="assets/img-modulo4/myv-recurso.svg" alt="ilustracion">
        </div>
      </div>
    </div>


  </section>

  <section class="mision">

    <div class="container">

      <div class="row justify-content-around">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
          <h2 class="text-white">MISIÓN</h2>
          <p class="text-white">Otorgar servicios financieros oportunos y
            eficientes, contribuyendo en mejorar la
            calidad de vida de nuestros Socios.</p>
        </div>
        <div class="col-6 col-md-2 d-flex justify-content-center">
          <img src="assets/img-modulo4/myb-obj.svg" alt="objetivo imagen">
        </div>
        <div class="col-6 col-md-2 text-center">
          <img class="faro" src="assets/img-modulo4/myb-faro.svg" alt="imagen faro">
        </div>
      </div>

    </div>

  </section>

  <section class="vision">

    <div class="container">

      <div class="row justify-content-evenly">
        <div class="col-6 col-md-3">
          <img src="assets/img-modulo4/myb-ojo.svg" alt="imagen ojo">
        </div>
        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
          <h2>VISIÓN</h2>
          <p>Liderar la excelencia Cooperativa en la
            región occidente.</p>
        </div>
      </div>

    </div>

  </section>

  <section class="beneficios">
    <div class="container">

      <div class="row">
        <div class="ben-hoja col-12 col-md-6">
          <h2>Beneficios de Caja Popular
            San Pablo</h2>
          <p>Para cumplir con su filosofía, la Cooperativa ha
            trabajado incansablemente para capitalizar de
            manera eficiente la reserva, generar liquidez y
            suficiencia operativa, afianzándose, así como
            una de las mejores.
            Las Sociedades Cooperativas de Ahorro y
            Préstamo (SOCAP) son Sociedades sin fines de
            lucro que tienen por objeto realizar operaciones
            de ahorro y préstamo únicamente con sus
            Socios. Caja Popular San Pablo logró su
            Certificación ante CNBV en 2007, así mismo,
            autorización a la figura de Sociedad
            Cooperativa de Ahorro y Préstamo: Caja
            Popular San Pablo S.C. de A.P. de R.L. de C.V.</p>
        </div>
        <div class="col-12 col-md-6">
          <img src="assets/img-modulo4/ben-señora.webp" alt="Imagen señora">
        </div>
      </div>

    </div>
  </section>

  <section class="nivel">
    <div class="container">

      <div class="hoja-nivel">
        <p>
          Actualmente nos encontramos en el <b>NIVEL IV (Monto de activos totales superiores a 250 millones de
            UDIS)</b>, las operaciones autorizadas:
          <br><br>•Expedir y operar tarjetas de débito y tarjetas recargables.
          <br>•Recibir los apoyos del comité de protección al ahorro cooperativo, en términos del artículo 55 de la
          LRASCAP.
          <br>•Descontar, dar garantía o negociar títulos de crédito.
          <br>•Constituir depósitos a la vista o plazo en instituciones de crédito.
          <br>•Realizar inversiones en valores gubernamentales, bancarios y de sociedades de inversión en
          instrumentos de deuda.
          <br>•Recibir o emitir órdenes de pago y transferencias.
          <br>•Realizar la compra venta de divisas en ventanilla por cuenta propia.
          <br>•Distribuir entre sus socios, seguros que formalicen a través de contratos de adhesión.
          <br>•Distribuir entre sus socios fianzas.
          <br>•Recibir donativos.
          <br>•Aceptar mandatos y comisiones de entidades financieras, relacionadas con su objetivo.
          <br>•Realizar operaciones de factoraje financiero con sus socios o por cuenta de estos.
          <br>•Prestar servicios de caja de seguridad.
          <br>•Ofrecer el servicio de abono y descuento de nómina.
          <br>•Realizar la compra venta de divisas en ventanilla por cuenta propia o de terceros.
          <br>•Celebrar contratos de arrendamiento financiero con sus socios.
          <br>•Prestar servicios de caja y tesorería.
          <br>•Asumir obligaciones por cuenta de terceros, con base en créditos concedidos, a través del
          otorgamiento de aceptaciones, endoso o aval de títulos de crédito.
          <br>•Expedir tarjetas de crédito con base en contratos de apertura de crédito en cuenta corriente, a sus
          socios.
          <br>•Otorgar descuentos de toda clase, reembolsables a plazos congruentes con los de las operaciones
          pasivas que celebren.<br>
          <a href="https://www.condusef.gob.mx/?p=mapa-socap&ide=1">https://www.condusef.gob.mx/?p=mapa-socap&ide=1</a>
        </p>
      </div>

    </div>
  </section>

  <section class="retos">
    <div class="container">

      <div class="row">
        <div class="hoja-reto col-12 col-md-8">
          <h2 class="text-center">RETOS PARA EL FUTURO</h2>
          <p>
            La Cooperativa busca el crecimiento sostenido mediante la captación y
            retención de Socios, la evaluación y mejora continua de cada una de las
            áreas de trabajo, avanzar en la cuestión de la tecnología y capacitación al
            personal, así como lo dice nuestra Misión.<br>
            En cuanto a lo que finanzas se refiere, fortalecer la capitalización y las reservas
            logrando una solidez económica que consolida el modelo integral de gestión
            de riesgo para los procesos internos.<br><br>
            Basados en lo anterior, podemos mencionar que para el crecimiento se
            trabaja con más fuerza en la evaluación continua en materia de:<br>
            <br>•Educación Operativa y Cooperativa.
            <br>•Fortalecer el Servicio.
            <br>•Reforzar procesos operativos.
            <br>•Consolidar Control Interno y documentos.
            <br>•Expansión.
          </p>
        </div>
      </div>

    </div>
  </section>

  <section class="estructura">
    <div class="container">

      <div class="hoja mb-5">
        <div class="row">
          <div class="col-12 col-md-6">
            <img src="assets/img-modulo4/estructura-titulo.svg" alt="estructura de Caja Popular San Pablo">
            <p>
              La estructura es un factor importante en Caja Popular San
              Pablo, otorga la capacidad de interrelacionar, equilibrar y
              proteger los intereses de los Socios, contribuyendo a la
              calidad de vida de sus integrantes.
            </p>
            <h2>ASAMBLEA GENERAL</h2>
            <p>Integración constituida por los asociados que se agrupan
              voluntariamente para resolver en común sus necesidades
              y aspiraciones.</p>
            <h2>CONSEJO DE ADMINISTRACIÓN</h2>
            <p>Es el órgano de gobierno colegiado cuya tarea es dirigir la
              Sociedad, así como velar y salvaguardar los intereses de
              los Socios definiendo y aprobando las estrategias más
              favorables para la Institución.</p>
            <h2>CONSEJO DE VIGILANCIA</h2>
            <p>Es el órgano encargado de supervisar que los actos de la
              sociedad se ajusten a la legislación, a los acuerdos de
              Asamblea y a lo que establece la reglamentación
              interna.</p>
            <h2>DIRECTOR GENERAL</h2>
            <p>Es la persona contratada por el Consejo de
              Administración para que de forma profesional y
              especializada ejecute los acuerdos tomados por este
              órgano de gobierno y la Asamblea General, así como los
              planes y estrategias de la Sociedad.</p> <br><br>
          </div>
          <div class="col-12 col-md-6 d-flex flex-column justify-content-around">
            <img src="assets/img-modulo4/estructura-img.webp" alt="imagen voto">
            <img src="assets/img-modulo4/estructura-img2.webp" alt="imagen junta">
          </div>
        </div>
      </div>

      <div class="hoja">
        <div class="row">
          <div class="col-12 col-md-6">
            <p>La Institución cuenta con los siguientes Comités especializados
              con características propias de su operación siendo:</p>
            <h2>Comité de Crédito</h2>
            <p>Es el responsable de analizar y en su caso aprobar o rechazar
              las solicitudes de crédito que presenten los Socios.</p>
            <h2>Comité de Riesgos</h2>
            <p>Es el responsable de identificar y medir riesgos, dar seguimiento
              de su impacto en la operación y controlar sus efectos sobre los
              excedentes y el valor del capital social de la Sociedad.</p>
            <h2>Comité de Auditoría</h2>
            <p>Es el organismo de apoyo al Consejo de Administración en la
              definición de los lineamientos generales del Sistema de Control
              Interno, así como la verificación y evaluación de dicho sistema,
              es decir la revisión del cumplimiento y de la normatividad
              vigente.</p>
            <h2>Comité de Comunicación y Control</h2>
            <p>Es el órgano colegiado cuyo objeto será dictar y vigilar el
              cumplimiento de las medidas y procedimientos mínimos que se
              deben establecer para prevenir y detectar actos, omisiones u
              operaciones relacionadas con la Prevención de Lavado de
              Dinero y Financiamiento al Terrorismo.</p>
            <img src="assets/img-modulo4/diagrama.svg" alt="diagrama">
          </div>
          <div class="col-12 col-md-6 d-flex flex-column justify-content-around">
            <img src="assets/img-modulo4/estructura-img3.webp" alt="imagen junta">
            <div class="hoja3-4">
              <img src="assets/img-modulo4/law.svg" alt="ilustracion ley">
              <p>Para el correcto funcionamiento de la
                estructura, Caja Popular San Pablo aplica
                el marco normativo que establece el
                deber institucional permitiendo la
                dirección, evaluación y control
                administrativo para la correcta operación
                de la Sociedad. <br><br>
                <b>Normatividad Externa:</b> Es el conjunto de
                disposiciones emitidas por las autoridades
                federales, estatales, municipales y/o
                locales las cuales la organización deberá
                cumplir de manera cabal.
                <b>Normatividad Interna:</b> Es aquella que el
                Consejo de Administración, haya
                otorgado para su funcionamiento interno
                y regulación de las distintas áreas que
                conforman nuestra Cooperativa; como
                son códigos, manuales, planes, políticas y
                reglamentos institucionales.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="cpsp-cae">
    <div class="container">

      <div class="row">
        <div class="hoja col-12 col-md-8">
          <img class="mb-4" src="assets/img-modulo4/cae-titulo.svg" alt="credito ahorro y educación">
          <h2>Crédito</h2>
          <p>
            La palabra crédito viene de la raíz Cedere, que significa ceder, dar confianza. Esta es
            la base para entender qué es el crédito en nuestros días y cómo se ha comportado
            en el tiempo. <br><br>
            Es la cantidad de dinero que la Cooperativa otorga a sus Socios, con el compromiso
            de que, en el futuro, devolverá dicho préstamo en forma gradual mediante el pago
            periódico y con una baja tasa de interés, no obstante, se deben respetar las medidas
            acordadas para el otorgamiento de préstamos en la institución. <br><br>
            Así, se puede acceder al capital que se requiera, solventando el apoyo a cada uno
            de los proyectos que tienen los Socios, ya sea un negocio, una emergencia, pagos y
            hasta comprar un bien, entre otros. <br><br>
            El crédito es una herramienta clave para el desarrollo de la economía personal,
            familiar y la de un país. <br><br>
            Caja Popular San Pablo cuenta con una gran variedad de productos crediticios que
            se adaptan a las necesidades y proyectos de todos nuestros Socios: <br><br>
          </p>

          <div class="links">
            <p class="text-white">Para conocer más de cada uno de los créditos consulta en el sitio de la Cooperativa:
            </p>
            <a href="https://www.libertadsanpablo.com/">libertadsanpablo.com</a>
            <!-- TODO: HACE FALTA EL LINK DE SUCURSALES -->
            <p class="text-white">También, puedes asistir con un analista de tu sucursal más cercana.</p>
            <a href="https://www.libertadsanpablo.com/#/inicio/creditos">Sucursales</a>
          </div>

          <h2>Ahorro</h2>

          <p>
            Es la cantidad de ingreso que se guarda de manera voluntaria para el futuro. <br>
            El Ahorro no solo es tener la capacidad de asegurar la calidad de vida en aspectos
            de bienestar, educación, recreación, vivienda, sino también anticiparse a una crisis
            de pérdida de empleo, falta de liquidez o emergencia; de entrada, implica una
            disciplina de aporte periódico, generalmente mensual, el cual da derechos como
            Socio y permite acceder a promociones y servicios. <br>
            Caja Popular San Pablo cuenta con diferentes opciones de cuentas de depósito: <br>
          </p>

          <ul>
            <li><b>Ahorro Adulto:</b> Cuenta en la que se realizan depósitos cuyo saldo recibe un
              interés anual fijo, y que sirve como garantía financiera para el otorgamiento de
              créditos y beneficios adicionales.</li>
            <li><b>Cuenta Corriente:</b> En esta cuenta se realizan depósitos, con disponibilidad
              inmediata y no se requiere una periodicidad específica, ni saldo mínimo.</li>
            <li><b>Plazo Fijo:</b> Cuenta de inversión que te permite depositar dinero durante un plazo
              definido, generando rendimientos a su término.</li>
            <li><b>Ahorro Menores:</b> Cuenta en la cual se realizan depósitos, el saldo también recibe
              un interés anual fijo y su propósito es inculcar el hábito del ahorro a los menores
              de edad.</li>
          </ul>

          <p>El Ahorro genera beneficios como:</p>

          <ul>
            <li>Apoyo educativo</li>
            <li>Créditos preferenciales</li>
            <li>Promociones, obsequios</li>
            <li>Acceso a eventos</li>
            <li>Acceso a alianzas estratégicas</li>
          </ul>

          <p>El Ahorro genera protecciones como:</p>

          <ul>
            <li>Apoyo de gastos funerarios</li>
            <li>Pago de saldo del crédito en caso de fallecimiento</li>
            <li>Reembolso adicional del ahorro</li>
          </ul>

          <p>Todo esto, de acuerdo a las políticas vigentes de Caja Popular San Pablo.</p>

          <h2>Educación</h2>

          <p>Es un factor fundamental en la operación, desarrollo, crecimiento y sostenibilidad de
            Caja Popular San Pablo. A través de ésta, se concientiza a los Socios sobre la
            importancia y beneficios que otorga vivir el Cooperativismo. <br><br>
            La educación es la herramienta de gestión e interacción en beneficio de los Socios,
            de su comunidad y del sistema económico mexicano.</p>

        </div>
        <div class="col-12 col-md-4 d-none d-md-block">
          <img class="mb-4" src="assets/img-modulo4/cae-img.svg" alt="ilustraciones hoja cinta">
        </div>
      </div>

    </div>
  </section>

  <section class="simbolos">
    <img class="mb-4" src="assets/img-modulo4/sim-titulo.svg" alt="Simbolos de Caja Popular San Pablo">
    <div class="container">

      <div class="row">
        <div class="sim-h1 col-9 text-center">
          <h2>Logotipo</h2>

          <ul>
            <li>Los 3 pinos significan crédito, ahorro y educación.</li>
            <li>Las raíces significan los estatutos, de ahí se nutren los olivos.</li>
            <li>Los olivos significan señal de triunfo.</li>
            <li>Las iniciales que están en el pino central, significan Caja
              Popular San Pablo.</li>
            <li>El óvalo tiene un listón incrustado que refiere los valores
              crédito, educación, ahorro.</li>
            </ul>
            <img class="mb-4" src="assets/img-modulo4/sim-logo.svg" alt="logo Caja Popular San Pablo">
          <div class="row">
            <div class="sim-h2 col-8">
              <h2>Mascota AKI</h2>
              <p>En 2010 se lanzó la convocatoria dirigida a socios de Caja Popular San Pablo, bajo la
              siguiente premisa: “Con mi revolución mexicana, buscó la mascota de mi Cooperativa”.
              Debido al periodo en que se lanzó y participaron los Socios con sus propuestas. (01 al 15
              de noviembre del 2010), se realizó conmemorando también a la Revolución Mexicana. Se
              invitó a que el diseño fuese alusivo a “Cooperación” “Ayuda mutua”, “Trabajo en equipo”.
              Dando como resultado el diseño de nuestra hormiga Cooperativista.
              Posteriormente, se lanzó el concurso “Ayúdame a buscar mi nombre” quedando como
              ganador Akampichtl (trabajo en equipo) que se abrevia “AKI”</p>
            </div>
            <div class="col-4">
              <img class="mb-4" src="assets/img-modulo4/sim-hormiga1.svg" alt="Ilustracion Hormiga">
            </div>
          </div>
        </div>

        <div class="col-3">
          <img class="mb-4" src="assets/img-modulo4/sim-hormiga.svg" alt="Ilustracion Hormiga 2">
        </div>
      </div>


    </div>
  </section>

  <section class="retroalimentacion">
    <div class="container">

      <app-retro-act4></app-retro-act4>

    </div>
  </section>

</div>
