

* {
  font-family: "Century Gothic", Times, sans-serif;
}

.cover {

  .container__info {
    max-width: 400px;
    margin-top: 40px;
  }

  h1 {
    max-width: 400px;
    font-size: 53px;
    font-weight: 900;
    color: var(--color-primario);
  }

  h2 {
    font-size: 60px;
    font-weight: 900;
    color: #1B5C35;
    margin-top: -25px;
  }

  p {
    font-size: 20px;
    margin-top: 10px;
    color: #373737;
  }

  input[type="button"] {
    padding: 10px 40px;
    margin-top: 40px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: var(--color-blanco);
    background: var(--color-primario);
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
  }

  input[type="button"]:hover {
    box-shadow: 1px 1px 30px -5px #20202095;
  }

}


/*----------------- BOTONES -------------------*/


.container__vector img {
  width: 600px;
  -webkit-animation: move_vector 4s ease-in-out infinite;
  animation: move_vector 4s ease-in-out infinite;
  transition: all 300ms;
}

/*Animación de portada*/
@-webkit-keyframes move_vector {
  0% {
    transform: translateY(10px);
  }

  25% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes move_vector {
  0% {
    transform: translateY(10px);
  }

  25% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

/********* / TERMINAN ESTILOS DEL HEADER DEL 1ER TEMA ANTE-HISTORICOS \ **************/


/*/////// Contenedor del titulo del tema /////////////////////*/


/*Contenedor del texto del tirulo el espacio que abarca*/
.container__titulo {
  margin: 50px auto;
  padding: 20px 0;
  h1 {
    margin: auto;
    max-width: 800px;
    font-size: 60px;
    font-weight: 700;
    color: var(--color-primario)
  }
}

/*=======================================*/
/*DISEÑO DE LA ACTIVIDAD CRUCIGRAMA*/



.titulo__actividad {
  width: 65%;
  color: var(--color-blanco);
  background: var(--color-secundario);
  border-radius: 20px;
  margin-bottom: 50px;
}

.txt__actividad {
  padding: 35px;
  font-size: 20px;
  color: var(--color-negro);
}

/*BOTON "COMENZAR" DE LA ACTIVIDAD CRUCIGRAMA*/
.container__actividad input[type="button"] {
  padding: 10px 30px;
  margin-bottom: 100px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color: var(--color-blanco);
  background: #6d9dc5;
  border-radius: 20px;
  box-shadow: 1px 1px 30px -5px #20202049;
  cursor: pointer;
}

.sin-vinetas {
  list-style: none;
}

/*TERMINO DEL DISEÑO DE CRUCIGRAMA*/
/*=====================================*/

/*===================================================*/
/* COMIENZAN ESTILOS DE LA AUTOEVALUACION */

/*estilos de la seccion*/
.container__evaluacion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 250px;
}

/*estilos del titulo de la actividad*/
.titulo__evaluacion {
  width: 600px;
  color: var(--color-blanco);
  background: var(--color-primario);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin: 0 auto 50px;
}

/*Estilos del texto de la actividad*/
.txt__evaluacion {
  font-size: 1.9rem;
  padding: 0px 40px;
  color: var(--color-negro);
  margin: auto;
  text-align: center;
}

/*BOTON DEL COMENZAR ACTIVIDAD*/

/*BOTON "COMENZAR" DE LA ACTIVIDAD AUTOEVALUACION*/
.container__evaluacion input[type="button"] {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color: var(--color-blanco);
  background: var(--color-secundario);
  border-radius: 20px;
  box-shadow: 1px 1px 30px -5px #20202049;
  cursor: pointer;
  transition: box-shadow 500ms;
  display: block;
  margin: 50px auto;
}

/*EXAMEN*/
#evaluacionuno {
  display: none;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}


/* ========================= DISEÑO RESPONSIVO =======================*/

@media screen and (max-width:1100px) {
  .container__vector img {
    width: 500px;
  }


}

@media screen and (max-width:950px) {
  .container__vector img {
    margin-top: 40px;
    width: 400px;
  }

  /*Adaptación de pantalla del contenedor padre y contenedor del texto del intro, asi como el tamaño de la letra */
  .container__intro {
    width: 100%;
  }

  .txt__introduccion {
    width: 850px;
  }

  .txt__introduccion p {
    font-size: 18px;
  }

  .pdf__tema {
    width: 850px;
  }

  /*ADAPTACIÓN DEL TEXTO Y TITULO DE LA ACTIVIDAD*/
  .container__actividad {
    width: 100%;
  }

  .txt__actividad p {
    font-size: 18px;
  }

  .txt__actividad li {
    font-size: 18px;
  }

  /*Adaptación del texto y titulo de la evaluacion*/
  .container__evaluacion {
    width: 100%;
  }

}

@media screen and (max-width:850px) {

  /*estilos para que la img de portada quede debajo, acomodo en columnas y elementos centrados*/
  .container__cover {
    max-width: 100%;
    margin: auto;
    padding: 10px;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /*informacion en columnas, y centrada*/
  .cover .container__info {
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .container__titulo h1 {
    font-size: 35px;
  }

  /* BOTONES EN DISPOSITIVOS MOVILES*/
  /*ESTILIOS BOTON 1*/
  .cover input[type="button"] {
    padding: 10px 40px;
    margin-right: 20PX;
    font-size: 20px;
    font-weight: 500;
  }

  /* ESTILOS BOTON 2*/
  .cover input[type="button"].btn__dos {
    padding: 10px 40px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  .container__vector {
    margin-top: 10px;
    max-width: 100%;
    justify-content: center;
    align-items: initial;
    left: 2.5cm;
  }


  .pdf__tema {
    width: 450px;
  }

  /*ADAPTACIÓN DEL TEXTO Y TITULO DE LA ACTIVIDAD*/
  .container__actividad {
    width: 100%;
  }

  .titulo__actividad {
    font-size: 45px;
  }

  .txt__actividad h3 {
    font-size: 30px;
  }

  .txt__actividad p {
    font-size: 15px;

  }

  .txt__actividad ul li {
    font-size: 15px;
  }

  /*Adaptación del texto y titulo de la evaluacion*/
  .container__evaluacion {
    width: 100%;
  }

  .titulo__evaluacion {
    font-size: 45px;
    width: 400px;
  }

}

/*ADAPTACIÓN DE CRUCIGRAMA y formEvaluacion*/
@media screen and (max-width:650px) {
  .container__crucigrama iframe {
    width: 46%;
    height: 550px;
  }

  .container__examen iframe {
    width: 600px;
  }
}

/*ADAPTACION IFRAME formEvaluacion*/
@media screen and (max-width:550px) {
  .container__examen iframe {
    width: 400px;
    height: 2350px;
  }
}


@media screen and (max-width:470px) {

  /*informacion en columnas, y centrada*/
  .cover .container__info {

    margin-top: 0px;
    margin-bottom: 30px;
    z-index: 2;
  }

  /* BOTONES EN DISPOSITIVOS MOVILES*/
  /*ESTILIOS BOTON 1*/
  .cover input[type="button"] {
    padding: 10px 40px;
    margin-right: 20PX;
    font-size: 25px;
    font-weight: 500;
  }

  /* ESTILOS BOTON 2*/
  .cover input[type="button"].btn__dos {
    padding: 10px 40px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
  }

  .container__vector {
    left: 2cm;
  }

  .container__vector img {
    width: 400px;
  }

  .pdf__tema {
    width: 380px;
  }

  /*TITULO DEL MODULO 1*/
  .container__info h1 {
    font-size: 40px;
  }

  /*ADAPTACIÓN DEL TEXTO Y TITULO DE LA ACTIVIDAD*/
  .container__actividad {
    width: 100%;
  }

  .titulo__actividad {
    font-size: 40px;
    width: 400px;
  }

  .txt__actividad h3 {
    font-size: 25px;
  }

  .txt__actividad p {
    font-size: 14px;

  }

  .txt__actividad ul li {
    font-size: 14px;
  }

  /*ADAPTACIÓN IFRAME*/
  .container__crucigrama iframe {
    width: 40%;
    height: 450px;
  }

  /*Adaptación del texto y titulo de la evaluacion*/
  .container__evaluacion {
    width: 100%;
  }

  .titulo__evaluacion {
    font-size: 40px;
    width: 380px;
  }
}

@media screen and (max-width:456px) {

  /*Imagen rebotando cambio de tamaño*/
  .container__vector img {
    margin-top: 40px;
    width: 300px;
  }

  /*informacion en columnas, y centrada*/
  .cover .container__info {

    margin-top: 50px;
    margin-bottom: 30px;
    z-index: 2;
  }
}

@media screen and (max-width:440) {
  .container__cover {
    width: 100%;
    margin-top: 40px;
  }
}

@media screen and (max-width:436px) {

  .cover .container__info {
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: 2;
  }
}

@media screen and (max-width:400px) {
  .cover {
    margin-bottom: 40px;
  }

  .cover .container__info {
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: 2;
  }

  .container__info h1 {
    font-size: 30px;
  }

  .container__info p {
    font-size: 13px;
  }

  /* BOTONES EN DISPOSITIVOS MOVILES*/
  /*ESTILIOS BOTON 1*/
  .cover input[type="button"] {
    padding: 10px 25px;
    margin-right: 20PX;
    font-size: 15px;
    font-weight: 500;
  }

  /* ESTILOS BOTON 2*/
  .cover input[type="button"].btn__dos {
    padding: 10px 25px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
  }

  /*centrar la imagen de portada*/
  .container__vector {
    left: 4cm;
  }

  .pdf__tema {
    width: 300px;
  }

  /*ACTIVIDAD*/
  .container__actividad {
    width: 100%;
  }

  .titulo__actividad {
    width: 300px;
  }

  .titulo__actividad h1 {
    font-size: 25px;
  }

  .txt__actividad p {
    font-size: 12px;
  }

  .txt__actividad h3 {
    font-size: 20px;
  }

  .txt__actividad ul li {
    font-size: 12px;
  }

  /*iframe crucigrama*/
  .container__crucigrama iframe {
    width: 34%;
    height: 430px;
  }

  /*boton "Comenzar"*/
  .container__actividad input[type="button"] {
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 500;
  }

  /*EVALUACION*/
  .container__evaluacion {
    width: 100%;
  }

  .titulo__evaluacion {
    width: 300px;
  }

  .titulo__evaluacion h1 {
    font-size: 25px;
  }

  .container__evaluacion input[type="button"] {
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 500;
  }
}

.noFinalizado {
  display: none;
}

.finalizado {
  display: block;
  position: fixed;
  top: 30vh;
  background-color: var(--color-secundario);
  padding: 0px 0 35px;
  color: white;
}

/* ========================= TERMINA EL DISEÑO RESPONSIVO =============*/






section {
  padding: 10px 30px;

}


$base-image-path: '../../../../assets/';

@mixin custom-background($image-name, $background-position: unset, $max-width: none) {
  @if $background-position !=unset {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: $background-position;
  }

  @else {
    background-repeat: no-repeat;
    background-size: cover;
  }

  @if $max-width !=none {
    max-width: $max-width;
    margin: 0 auto;
  }

  background-image: url(#{$base-image-path}#{$image-name});
}


.modulo1 {
  background-color: #1e9fa5;
  padding: 100px 0;

  .modulo1-content {
    img {
      margin: 30px 0;
      width: 80%;
      height: 40px;
    }
  }

  img {
    height: 300px;
  }

  h2 {
    font-family: sans-serif;
    font-size: 60px;
    color: white;
  }

  p {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
  }

  p:nth-child(3) {
    background-color: white;
    color: #1e9fa5;
    padding: 0 40px;
  }
}

.objetivo_general {
  background-color: #1e9fa5;
  color: white;
  padding: 100px 0;

  img {
    height: 260px;
    max-width: 570px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    color: inherit;
    font-size: 15px;
    max-width: 450px;
    padding: 0 15px;
  }
}

.tema {
  background-color: #80ded9;
  padding: 80px 0 30px;

  .bgpapel {
    @include custom-background("hojaCuaderno.png", center, 950px);
    padding: 120px 40px;
    width: 85%;
    margin: 0 auto;
    color: black;

    ul {
      font-size: 20px;
      font-weight: 600;
      padding: 0;

      li {
        color: var(--color-primario);
      }
    }

    h2 {
      font-size: 35px;
    }
  }
}

.gradient2 {
  height: 150px;
  background: rgb(128, 222, 217);
  background: linear-gradient(180deg, rgba(128, 222, 217, 1) 0%, rgba(177, 215, 216, 1) 30%, rgba(245, 206, 214, 1) 100%);
}

.gradient {
  height: 150px;
  background: rgb(245, 206, 214);
  background: linear-gradient(180deg, rgba(245, 206, 214, 1) 0%, rgba(219, 200, 208, 1) 15%, rgba(30, 159, 165, 1) 100%);
}

.introduccion {
  background-color: rgb(245 206 214);
  padding: 50px 30px;

  p {
    white-space: pre-line;
  }

  img {
    width: -webkit-fill-available;
    max-width: 450px;
    position: relative;
    right: -15px;
  }

  .int-content {
    color: #376bb9;
    margin: 0 auto;
    max-width: 1400px;

    h2 {
      font-size: 2.3rem;
      margin-bottom: 30px;
    }

    p {
      font-size: 18px;
      color: black;
      text-align: justify;
    }
  }
}

.que_es_cooperativismo {
  background-color: #1e9fa5;

  p {
    font-size: 18px;
    text-align: justify
  }

  .hojasup {
    @include custom-background("hojasup.png", center);
    padding: 60px 0px;

    h2 {
      font-size: 22px;
      padding: 40px 18px 0;
    }

    p {
      padding: 0 20px;
    }
  }

  .hojaback {
    @include custom-background("hojaback.png", center, 590px);
    margin: 50px 0;

    p {
      padding: 0 15px 0 25px;
    }
  }
}

.edades {
  background-color: #B3DEE5;

  p {
    font-size: 18px;
    text-align: justify;
  }

  .edad-antigua {
    @include custom-background("hoja-edad-antigua.png", top, 837px);

    .antigua-text {
      padding: 145px 15px 35px 15px
    }
  }

  .edad-media {
    @include custom-background("hoja-edad-media.png", top, 837px);

    .media-text {
      padding: 130px 10px 110px 15px;
    }
  }

  .edad-moderna {
    @include custom-background("hoja-edad-moderna.png", top, 837px);

    .moderna-text {
      padding: 130px 10px 75px 15px;
    }
  }
}

.linea_tiempo {
  background-color: #B3DEE5;
  color: #376bb9;
  padding-top: 100px;
  padding-bottom: 100px;

  p {
    font-size: 20px;
    text-align: justify;
  }

  .linea-abajo-turqueza,
  .linea-abajo-azul {
    background-repeat: no-repeat;
    width: -webkit-fill-available;

  }

  .linea-abajo-turqueza {
    background-image: url(../../../../assets/flecha-turqueza-abajo.svg);
    height: 200px;
  }

  .linea-abajo-azul {
    background-image: url(../../../../assets/flecha-azul-abajo.svg);
    height: 200px;
  }

  .anio-1844,
  .anio-1864,
  .anio-1877,
  .anio-1895,
  .anio-1899,
  .anio-1900 {
    width: 337px;
    height: 100px;

  }

  .anio-1844 {
    @include custom-background("1844.svg", unset);
  }

  .anio-1864 {
    @include custom-background("1864.svg", unset);
  }

  .anio-1877 {
    @include custom-background("1877.svg", unset);
  }

  .anio-1895 {
    @include custom-background("1877.svg", unset);
  }

  .anio-1899 {
    @include custom-background("1877.svg", unset);
  }

  .anio-1900 {
    @include custom-background("1877.svg", unset);
  }

}

.info-adicional {
  @include custom-background("back-info-adicional.jpg", center);

  .title-info {
    margin: 30px auto;
    @include custom-background("title-info-add.svg", center);
    width: 330px;
    padding: 10px;
  }

  .info-add-hoja {
    @include custom-background("info-add-hoja.svg", center, 695px);
    margin-bottom: 60px;
    padding: 25px 50px 10px 25px;
    .text-content {
      h2 {
        font-size: 2.3rem;
      }

      p {
        font-weight: bold;
        text-align: justify;
      }
    }
  }
}

.coop_america {
  background-color: #1e9fa5;
  @include custom-background("mundo.svg", center);
  overflow: hidden;

  p{
    font-size: 18px;
    text-align: justify;
  }

  .title-coop-america {
    @include custom-background("cinta-coop-america.svg", center, 400px);
    margin: 25px auto;
    font-size: 1.4rem;
  }

  .hoja1 {
    @include custom-background("hoja-izq.svg", center);
    p {
      padding: 30px 20px;
      text-align: justify;
    }
  }

  .hoja2 {
    @include custom-background("hoja-der.svg", center);
    p {
      padding: 20px 25px;
      text-align: justify;
    }
  }

  .hoja3 {
    @include custom-background("hoja-abajo.svg", center, 550px);
    p {
      padding: 30px 17px;
      text-align: justify;
    }
  }

  .flecha-derecha,
  .fecha-abajo {
    background-repeat: no-repeat;
    width: 90px;
    height: 100px;
  }

  .flecha-derecha {
    background-image: url(../../../../assets/flecha-derecha.svg);
  }

  .fecha-abajo {
    background-image: url(../../../../assets/flecha-abajo.svg);
    margin: 0 auto;
  }

  .arcoiris {
    @include custom-background("arcoiris.svg");
    width: 100vw;
    height: 128px;
    position: relative;
    right: 30px;
    top: 11px;
  }
}

.coop_mexico {
  @include custom-background("hoja-naranja.svg");
  padding: 80px 15px;

  p{
    text-align: justify;
  }

  .img-piramides,
  .img-templos {
    height: 100%;
    object-fit: cover;
  }

  .inf-add-mx,
  .card-inf-prehispanica,
  .card-precolombino,
  .card-colonial {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .inf-add-mx {
    @include custom-background("info-add-mx.svg");
    background-image: url(../../../../assets/info-add-mx.svg);
    font-size: 1.4rem;
  }

  .card-inf-prehispanica {
    @include custom-background("hoja-inf-mx.svg", unset, 550px);
    padding: 50px 20px 1px;
  }

  .card-precolombino {
    @include custom-background("hoja-cuad-inf-mx.svg", unset, 376px);
    padding: 50px 30px 10px;
  }

  .card-colonial {
    @include custom-background("hoja-azul-inf-mx.svg", unset, 376px);
    padding: 50px 25px 0;
  }

}

.elias_calles {
  @include custom-background("hoja-naranja-vert.svg");
  p{
    text-align: justify
  }

  .hoja-cuaderno {
    @include custom-background("hoja-pluraco-cuad.svg", unset, 725px);
    padding: 60px 20px 20px;
  }

  .epoca-pos {
    @include custom-background("pres-hoja-azul.svg");

    padding: 25px 15px;
    color: white;
  }

}

.cronologia {
  background-color: #80ded9;
  padding-top: 30px;
  padding-bottom: 50px;

  p {
    font-size: 18px;
    text-align: justify;
  }

  table tbody {
    tr:not(:last-child) td {
      margin-bottom: 10px;
    }

    .espace {
      margin-bottom: 5px;
      display: flex;

      .año {
        color: white;
        background-color: #6d9dc5;
        border-radius: 20px 0 0 20px;
        padding: 10px;
        display: flex;
        align-items: center;
        font-weight: bolder;
      }

      .desc {
        background-color: white;
        border-radius: 0 20px 20px 0;
        padding: 10px;
        width: 100%;
        font-weight: bold;
      }
    }
  }
}

.simbolos {
  background-color: #1e9fa5;
  p{
    text-align: justify;
  }

  .bandera-top {
    max-width: 170px;
    margin: 0 auto;
  }

  .simbolos-title {
    @include custom-background("cinta-simbolos.svg", unset, 306px);
    padding: 40px 0;
    font-size: 40px;
  }

  .bandera {
    @include custom-background("cinta-labandera.svg", unset, 306px);
    padding: 80px 0 53px;
    font-size: 40px;
  }

  .hoja-cuad-bandera {
    @include custom-background("hoja-cuad-bandera.svg", unset, 620px);
    padding: 60px 15px;
    font-weight: bolder;

  }

  .hoja-bottom-bandera {
    @include custom-background("hoja-bottom-bandera.svg", center);
    padding: 150px 15px 100px;
    font-weight: bold;
    text-align: justify;

    ul {
      margin: 30px 0;

      li {
        padding: 10px;
        color: white;
        width: fit-content;
      }
    }
  }

  .bandera-bottom {
    max-width: 300px;
    margin-bottom: 40px;
  }
}


.sig-pinos {
  background-color: #1e9fa5;



  .hoja-colores,
  .los-pinos {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hoja-colores {
    @include custom-background("hoja-bottom-bandera.svg", center, 615px);
    padding: 50px;
    font-weight: bold;
  }


  .los-pinos {
    @include custom-background("hoja-back-lgbt.svg", center);

    .text-desc {
      padding: 50px 40px 80px 40px;
      background-color: white;
      p{
        text-align: justify;
      }
    }
  }
}


/* Extra pequeño (XS): */
@media (min-width: 575.98px) {

  .info-adicional {
    background-position-x: -360px;

    .title-info {
      width: 440px;
      padding: 20px;
    }

    .info-add-hoja {

      .text-content {
        padding: 0px 60px 0 20px;

        p {
          margin-top: 35px;
          font-size: 18px;
          text-align: justify;
        }
      }
    }
  }

  .que_es_cooperativismo {

    .hojasup {
      h2 {
        font-size: 27px;
      }

      p {
        font-size: 18px;
        text-align: justify;
      }
    }
  }

  .modulo1 img {
    height: 360px;
  }

  .objetivo__general_text {
    h2 {
      font-size: 34px;
    }

    p {
      font-size: 16px;
      width: 80%;
      text-align: justify;
    }

    .int-content {
      p {
        font-size: 15px;
        font-weight: 500;
        text-align: justify;
      }

      h2 {
        font-size: 2.2rem;
        margin-bottom: 20px;
      }
    }
  }
}

/* Pequeño (SM):  */
@media (min-width: 767.98px) {

  .info-adicional {
    background-position-x: -200px;

    .info-add-hoja {
      .text-content {
        padding: 0px 50px 0 20px;
      }
    }
  }

  .edades {
    .edad-antigua {
      background-position-x: unset;

      .antigua-text {
        padding: 110px 10px 30px 85px;
      }
    }

    .edad-media {
      background-position-x: unset;

      .media-text {
        padding: 70px 10px 65px 45px;
      }
    }

    .edad-moderna {
      background-position-x: unset;

      .moderna-text {
        padding: 60px 10px 20px 60px;
      }
    }
  }

  .objetivo_general img {
    width: 80%;
    height: 400px;
  }

  .tema {
    padding: 50px 0;

    .bgpapel {
      background-position-x: 0;
      padding: 45px 110px;

      h2 {
        font-size: 35px;
      }

      ul {
        font-size: 17px;
      }
    }
  }

  .que_es_cooperativismo {
    .hojaback {
      h2 {
        font-size: 2.5rem;
      }

      p {
        font-size: 20px;
      }
    }

    .hojasup {
      max-height: 660px;

      h2 {
        font-size: 27px;
      }

      p {
        padding: 0 35px;
        font-size: 22px;
      }
    }
  }

  .introduccion {
    .int-content {
      h2 {
        font-size: 3.5rem;
      }

      p {
        font-size: 20px;
        padding: 0 80px;
        text-align: justify;
      }
    }
  }

}

/* Mediano (MD): */
@media (min-width: 991.98px) {

  .linea_tiempo {

    .linea-abajo-turqueza,
    .linea-abajo-azul {
      height: 300px;
    }
  }

  .tema {
    .bgpapel {
      padding: 110px 110px;

      h2 {
        font-size: 60px;
      }

      ul {
        font-size: 24px;
      }
    }
  }

  .que_es_cooperativismo .hojaback {

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 18px;
      text-align: justify;
    }
  }

  .que_es_cooperativismo .hojasup {
    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 15px;
    }
  }

  .objetivo_general {

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 22px;
    }
  }

  .modulo1 {
    img {
      height: 400px;
    }

    h2 {
      font-size: 80px;
    }

    p {
      font-size: 35px;
    }
  }

}

/* Grande (LG): */
@media (min-width: 1199.98px) {
  .que_es_cooperativismo {
    .hojasup {
      padding: 130px 20px;

      p {
        font-size: 18px;
      }
    }
  }

  .introduccion {
    .int-content {
      p {
        font-size: 24px;
      }
    }
  }

  .objetivo_general {
    h2 {
      font-size: 52px;
    }

    p {
      font-size: 21px;
    }
  }


}

/* Extra grande (XL): */
@media (min-width: 1200px) {
  .que_es_cooperativismo{
    .hojasup{
      padding: 70px 20px;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .info-adicional {
    background-position-x: unset;
  }
}
