<header id="header" [ngClass]="{'nav_mod': scrollDownClass}">

  <div class="container__header">

    <a [routerLink]="['inicio']" class="brand" id="logo">
      <img src="assets/logoE.png" height="80" alt="logo">
    </a>

    <nav  class="menu" [ngClass]="{'active': isMenuActive}">
      <div class="btn">
        <i class="fas fa-times close-btn"></i>
      </div>
      <ul>
        <li><a [routerLink]="['inicio']"><i class="icon fas fa-house-user"></i>INICIO</a></li>
        <li><a [routerLink]="['perfil']"><i class="icon fa-solid fa-user"></i>
            <!-- {{member.nombre[0] }} {{member.apellidos}} --> Nestor Daniel Basave Davalos
          </a></li>

        <li class="user_activo"><a> Cerrar Sesión </a></li>
      </ul>
    </nav>
    <div class="btn">
      <i class="fas fa-bars menu-btn"></i>
    </div>

  </div>


</header>
