.card-perfil{
  margin: 200px 0px 50px;
}

.card-completado{
  margin-bottom: 250px;
  background-color: var(--color-secundario);
  color: white;
  height: 200px;
}
.card-uncomplete{
  background-color: var(--bs-gray-200);
  color: var(--bs-gray);
  height: 200px;
}

.card{
  max-width: 840px;
  height: 350px;
  margin: 0 auto;
}

.card-title{
  font-size: 30px;
}


