small{
  background: #d2d2d2;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  width: fit-content;
  height: fit-content;
  text-align: center;
}
.inciso{
  background: #d2d2d2;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  width: fit-content;
  height: fit-content;
  text-align: center;
}
.select{
  background-color: #f0ad4e;
  color: black;
  transition: all 0.5s ease;

}

.respInc{
  background-color: #d9534f;
  color: white;
}

.respCor{
  background-color: #419941;
  color: white;
}

