<div class="container-fluid">

  <div class="container">
    <!--Contenerdor de todo-->
    <div class="blueBg">
        <!--Fondo trasero, tranparente, "caja__trasera"-->
        <div class="box singin">
            <h2>¿Ya tienes una cuenta?</h2>
            <button class="singinBtn" (click)="toggleActive()">Iniciar Sesión</button>
        </div>
        <div class="box singup">
            <h2>¿No tienes una cuenta?</h2>
            <button class="singupBtn" (click)="toggleActive()">Resgistrarme</button>
        </div>
    </div>
    <!--Contenedor formularios (fondo blanco)-->
    <div class="formBx" [ngClass]="{'active': isActive, 'inactive': !isActive}">

        <!--Formulario Login-->
        <div class="form singinForm">
            <form [formGroup]="myForm" (ngSubmit)="login()">
                <img src="/assets/logoE.webp" alt="logo" style="margin-bottom: 40px;">
                <h3>Iniciar Sesión</h3>
                <input type="text" placeholder="Correo" name="emailUser" formControlName="email">
                <input type="password" placeholder="Contraseña" name="passwordUser" formControlName="password">
                <input type="submit" value="Iniciar" [disabled]="myForm.invalid">

                <!-- TODO: Tenemos que hacer esta parte de recuperar la contraseña -->
                <a class="forgot">¿Olvidaste la contraseña?</a>
            </form>
        </div>


        <!--Formulario Registro-->
        <div class="form singupForm">
            <form id="formulario" [formGroup]="myFormRegister" (ngSubmit)="register()" >
                <h3>Resgistrarte</h3>
                <input type="text" placeholder="No. Socio" formControlName="nSocio" required>
                <input type="text" placeholder="Nombre Completo" formControlName="name" required>
                <input type="email" placeholder="Correo" formControlName="email" required>
                <input type="password" placeholder="Contraseña" id="passwordUser" formControlName="password" required>
                <input type="submit" value="Registrarme" id="btn-login" [disabled]="myFormRegister.invalid">
            </form>
        </div>

    </div>
  </div>


</div>
