.container-fluid{
  background: var(--color-primario);
  height: 100vh;
  padding: 24vh 0;
}

.container {
  margin: 0px auto;
  position: relative;
  width: 800px;
  height: 500px;
}

/*CONTENEDOR DEL FORMULARIO*/
/*CONTENEDOR DE LOS FORMULARIOS*/
.blueBg{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  width: 100%;
  height: 420px;
  background: rgba(255,255,255,0.2);
  box-shadow: 0 5px 45px rgba(0,0,0,0.25);
}

/*CONTENEDORES DE LA INFO*/
.blueBg .box{
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blueBg .box h2{
  color: var(--color-blanco);
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.blueBg .box button{
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: var(--color-secundario);
  font-size: 16px;
  font-weight: 500;
  border: 2px solid;
  border-color: var(--color-secundario);
  border-radius: 20px;
}


/*CONTENEDOR DEL FORMULARIO*/
.formBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0,0,0,0.25);
  transition: 0.5s ease-in-out;
  overflow: hidden;/*desaparecer el form cuando cambie a "registro*/
}

/*DEPLAZAR EL FORMULARIO*/
.formBx.active{
  left: 52%;
}

.formBx .form{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}

/* ---- ESTIOS PARA APARA MOVIMIENTO DE LOS ELEMENTOS DEL FORMULARIO ---- */

/*Pequeños segundos al desplazamiento de elementos*/
.formBx .singinForm{
  transition-delay: 0.25s;
}

/*Al iniciar sesion se mueva a la izquierda*/
.formBx.active .singinForm{
  left: -100%;
  transition-delay: 0s;
}

/*MOVIMIENTOS PARA EL REGRISTO, A LA DERECHA*/
.formBx .singupForm{
  left: 100%;
  transition-delay: 0s;
}
.formBx.active .singupForm{
  left: 0%;
  transition-delay: 0.25s;
}
/*---------------------------------------------------*/

.formBx .form form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formBx .form form h3{
  font-size: 1.5em;
  color: var(--color-primario);
  margin-bottom: 20px;
  font-weight: 500;
}

.formBx .form form h4{
  font-size: 1.5em;
  color: var(--color-negro);
  margin-bottom: 20px;
  font-weight: 500;
}

.formBx .form form input{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid var(--color-primario);
}

.formBx .form form input[type="submit"]{
  background: var(--color-secundario);
  border: none;
  color: var(--color-blanco);
  font-size: 18px;
  max-width: 150px;
  cursor: pointer;
  box-shadow: 1px 1px 30px -5px #20202049;
  transition: all 500ms;
}
.formBx .form form input[type="submit"]:disabled{
  background: grey;

}

.formBx .form form input[type="submit"]:hover{
  box-shadow: 1px 1px 30px -5px #20202095;
}

.formBx .form form .forgot{
  color: var(--color-primario);
  text-decoration: none;
}
/*COLOR DE BOTON DE "REGISTRO"*/
.formBx.formBx.active .singupForm input[type="submit"]{
  background: var(--color-secundario)
}

/* RESPÓNSIVO */

@media (max-width:991px) {
  .container{
      max-width: 400px;
      height: 650px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .container-fluid{
    padding: 16vh 0;
  }

  .container .blueBg{
      top:0;
      height: 100%;
  }

  .formBx{
      width: 100%;
      height: 500px;
      top: 0;
      box-shadow: none;
  }

  .blueBg .box{
      position: absolute;
      width: 100%;
      height: 150px;
      bottom: 0;
  }
  .box.singin{
      top: 0;
  }
  .formBx.active{
      left: 0;
      top:150px;
  }
}
