<div class="position-fixed top-50 start-50 translate-middle"
  style="background-image: url(../../../../assets/confeti.webp); width: 100%; height: 100vh;">
  <div class="position-fixed top-50 start-50 translate-middle" style="background-color: var(--color-secundario); width: 100%;">
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="../../../../assets/aplause.gif" alt="Aplauso gif" width="120px">
        <h3 class="fs-2"><strong> FELICIDADES COMPLETASTE EXITOSAMENTE EL <div style="color: white; text-align: center;">MODULO {{noModulo}}</div></strong></h3>
        <p class="fs-3">Tu avance ha sido guardado y aparecera en tu perfil</p>
        <p class="fs-4">Serás redirigido al menú de inicio en: <strong>{{contador}}</strong></p>
      </div>
    </div>
  </div>
</div>
