.content-form p {
  font-size: 17px;
}

.content-form {
  border: 2px solid rgb(230 230 230);
  width: 100%;
  padding: 15px 30px;
  border-radius: 5px;
  margin-bottom: 15px;
}

form h3 {
  text-align: center;
  color: rgb(32, 33, 36);
  font-size: 30px;
}

form .subtitle-preg {
  font-size: 20px;
  font-weight: 500;
  padding: 25px;
  border-radius: 5px 5px 0 0;
  width: 100%;
}
form .subtitle {
  font-size: 20px;
  font-weight: 500;
}

form hr {
  margin: 30px 0;
}

form .form-check {
  margin-bottom: 10px;
}

input[type="email"],
input[type="text"] {
  border: none;
  border-bottom: 1px solid #dee2e6;
  margin: 0px 0px 20px;
}

.form-control:focus {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: #00BFA6;
  outline: none;
}

.opciones {
  margin: 10px 0px 25px;
  padding: 0 25px;
}

.respSelec{
  box-shadow: var(--color-secundario) 0px 0px 3px 2px;
  transition: box-shadow 0.2s ease;
}

.respInc {
  box-shadow: var(--bs-danger-border-subtle) 0px 0px 0px 2px;
}

.respCor {
  box-shadow: var(--bs-success) 0px 0px 0px 2px;
}

