<section class="modulo1">
  <div class="container">
    <div class="dotsesq"></div>
    <div class="row" style="--bs-gutter-x: 0rem;">
      <div class="modulo1-content col-sm-12 col-md-6 d-flex flex-column align-items-center justify-content-center"
        style="--bs-gutter-x: 0rem;" id="targetElement">
        <h2>MÓDULO 1</h2>
        <p>INTRODUCCIÓN AL</p>
        <p>COOPERATIVISMO</p>
        <img src="assets/onda-m1.png" alt="">
      </div>
      <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center">
        <img src="assets/portada-m1.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="objetivo_general">
  <div class="container">
    <div class="row flex-md-row" style="--bs-gutter-x: 0rem;">
      <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center" style="--bs-gutter-x: 0rem;">

        <img class="animate__animated animate__pulse animate__infinite animate__slow" src="assets/port-objgen-m1.png"
          alt="">

      </div>
      <div
        class="objetivo__general_text col-sm-12 col-md-6 text-center d-flex flex-column align-items-center justify-content-center"
        style="--bs-gutter-x: 0rem;">
        <h2>OBJETIVO GENERAL</h2>
        <p>Lograr que los participantes
          conozcan el Cooperativismo,
          para comprender desde su
          origen hasta la actualidad de
          las Sociedades Cooperativas
          de Ahorro y Préstamo.</p>
      </div>
    </div>
  </div>
</section>


<section class="tema">
  <div class="container">
    <div class="bgpapel">
      <h2 class="text-center text-md-start">TEMA</h2>
      <ul class="text-center text-md-start">
        <li>¿Qué es el Cooperativismo?</li>
        <li>Antecedentes históricos del Cooperativismo</li>
        <li>Actividad: Crucigrama</li>
        <li>Símbolos del Cooperativismo</li>
        <li>Retroalimentación</li>
      </ul>
    </div>
  </div>
</section>

<div class="gradient2"></div>

<section class="introduccion">
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center justify-content-center">
        <img src="assets/puerco.png" alt="">
      </div>
      <div class="int-content text-center">
        <h2>INTRODUCCIÓN</h2>
        <p class="mt-2">A través de la historia los valores de
          solidaridad, colectivimo y acción
          común han estado presentes en la
          organización económica de las
          sociedades, aunque no es hasta el
          siglo XIX cuando con la formulación
          de principios y una filosofía basados
          en la concepción social que propone
          la cooperación y apoyo mutuo entre
          individuos que, previamente han
          acordado asociarse libre y
          voluntariamente para satisfacer sus
          necesidades económicas, sociales y
          culturales, siendo así como poco a
          poco se conformó el Cooperativismo.

          De esta forma comprender cómo, por
          qué y dónde se inició el pensamiento
          cooperativista, las distintas doctrinas
          filosóficas que generaron la creación
          de Cooperativas en numerosas partes
          del planeta. Además, los beneficios
          de una adecuada administración del
          dinero para mejorar la calidad de vida
          de una persona y su familia.</p>
      </div>
    </div>
  </div>
</section>

<div class="gradient"></div>


<section class="que_es_cooperativismo">
  <div class="container">
    <div class="row justify-content-around">
      <div class="hojaback col-md-12 col-lg-6">
        <h2 class="text-end p-3">¿QUÉ ES EL COOPERATIVISMO?</h2>
        <p class="text-end">Es un movimiento socioeconómico basado en
          valores y principios de igualdad y equidad. Las
          personas se organizan y asocian voluntariamente
          en empresas Cooperativas de propiedad conjunta
          y democráticamente controladas para hacer
          frente a sus necesidades y aspiraciones
          económicas, sociales y culturales. Para lograr esto,
          sus Socios deben estar en un constante aprendizaje
          de los procesos asociativos y económicos del
          modelo cooperativo, además, deben conocer las
          bases legales y los procesos de operación.

          Este modelo da oportunidad a las personas de
          escasos recursos, ad tener una empresa de
          propiedad en conjunto. Uno de los propósitos de
          este sistema, es eliminar la explotación de los
          individuos o empresas, por otros dedicados a
          obtener ganancias.

          La participación del ser humano, asumiendo un rol
          protagonista en los procesos socioeconómicos en
          la comunidad en que vive, es la principal fortaleza
          de la doctrina cooperativista y esta se rige por
          valores y principios basados en el desarrollo integral
          del ser humano y no solo con propósitos
          económicos.</p>
      </div>

      <div class="hojasup col-md-12 col-lg-6">
        <h2 class="text-md-center text-end">ANTECEDENTES HISTÓRICOS DEL
          COOPERATIVISMO.</h2>
        <p class="text-md-center text-end mt-2">La historia del Cooperativismo comienza en épocas remotas, cuando

          se produjeron expresiones que podríamos llamar “pre cooperativas”.

          Se ha llegado a decir que la humanidad y la cooperación tienen la
          misma historia, ya sea voluntaria, coaccionada o forzada, se han
          encontrado sistemas de organización con ciertos caracteres de
          cooperación y participación igudlitaria en la prehistoria, como tribus |
          con propiedad conjunta de bienes y actividades básicas de caza,
          pesca, entre otras, realizadas por grupos para alcanzar un bien
          común.
        </p>
      </div>

    </div>
  </div>
</section>

<section class="edades">
  <div class="container">
    <div class="edad-antigua">
      <div class="antigua-text">
        <h2>EDAD ANTIGUA</h2>
        <p>En — Babilonia, se — formaban — organizaciones — para
          arrendamiento y explotación en común de las tierras
          laborables, paralelamente los griegos y romanos
          generaban asociaciones de seguros de artesanos y
          ciertos fondos “voluntarios de ayuda mutua
          (especialmente para procurar sepultura).</p>
      </div>
    </div>

    <div class="edad-media">
      <div class="media-text">
        <h2>EDAD MEDIA</h2>
        <p>En los medios rurales, se dieron manifestaciones de
          campesinos agrupados para realizar colectivamente la
          transformación. y algunas veces la venta de la
          producción lechera, en territorios de lo que hoy es
          Francia, Italia y Suiza. En el caso particular de Francia, en
          el siglo XII o XIII se constituyen las “frutieres", que
          conservan esa denominación hasta nuestros días y
          constituyen queserías cooperativas.

          En-los pueblos se producen manifestaciones de tipo
          cooperativo: los artesanos y comerciantes se organizan
          en “guildas" o “corporaciones", con un marcado espíritu
          proteccionista.

          En monasterios cristianos, surgieron un tipo particular de
          cooperativas integrales o comunidades autosuficientes,
          en donde tanto las actividades de producción como de
          consumo se realizaban en común.</p>
      </div>
    </div>

    <div class="edad-moderna">
      <div class="moderna-text">
        <h2>EDAD MODERNA</h2>
        <p>Durante los siglos XVI y XVII, se conocen obras de filósofos y
          economistas que procuraban subsanar los graves males de
          la-organización socioeconómica existente, éstas describen
          nuevos tipos de comunidades, a su juicio mejor
          organizadas, que proponen conceptos originales acerca
          del gobierno, la propiedad privada, el trabajo, la familia y la
          educación.

          Entre los principales precursores del cooperativismo están
          Tomás Moro, Tommaso Campanella, Francis Bacon, Robert
          Owen, Charles Fourier, William King, Philippe Buchez y Louis
          Blanc.
        </p>
      </div>
    </div>
  </div>

</section>

<section class="linea_tiempo">
  <div class="container">
    <div class="primera-cooperativa">
      <div class="row justify-content-center flex-column-reverse flex-md-row pb-5">
        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
          <div class="text-content text-center text-md-start">
            <h2>Primer Cooperativa</h2>
            <p>Un grupo de 28 artesanos que
              trabajaban en las fábricas de
              algodón de la localidad de
              Rochdale, en el norte de
              Inglaterra, — establecieron - la
              primera empresa cooperativa
              moderna.</p>
          </div>
        </div>
        <div class="col-md-1 d-none d-md-flex align-items-center flex-wrap">
          <div class="linea-abajo-turqueza"></div>
        </div>
        <div class="col-12 col-md-5 d-flex align-items-center">
          <div class="anio-1844"></div>
        </div>
      </div>
    </div>

    <div class="fredereick-w-raiffeisen">
      <div class="row justify-content-center flex-column flex-md-row pb-5">
        <div class="col-12 col-md-5 d-flex align-items-center">
          <div class="anio-1864"></div>
        </div>
        <div class="col-md-1 d-none d-md-flex align-items-center flex-wrap">
          <div class="linea-abajo-azul"></div>
        </div>
        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
          <div class="text-content text-center text-md-start">
            <h2>Fredereick William Raiffeisen</h2>
            <p>Aplicó los principios y métodos
              de la cooperación a las
              actividades financieras de los
              campesinos, artesanos y
              pequeños empresarios, sugirió
              a su pueblo afrontar el
              problema común de la
              pobreza juntando sus recursos
              y prestándoselos unos a otros a
              intereses razonables. Tal fue la
              idea que dio vida a las
              Cooperativas de ¿Ahorro y
              Crédito en el mundo.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="juan-b-godin">
      <div class="row justify-content-center flex-column-reverse flex-md-row">
        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
          <div class="text-content text-center text-md-start">
            <h2>Juan Bautista Godin</h2>
            <p>En Francia prosperaban las
              cooperativas de producción y
              trabajo con ejemplos tan
              conocidos como el “Familisterio”,
              construyó otros dos grupos para
              600 personas cada uno,
              equipados con una tienda
              cooperativa, guardería de niños,
              escuela, hospital, dispensario y
              teatro, con seguros de
              enfermedad y pensiones de
              retiro.</p>
          </div>
        </div>
        <div class="col-md-1 d-none d-md-flex align-items-center flex-wrap">
          <div class="linea-abajo-turqueza"></div>
        </div>
        <div class="col-12 col-md-5 d-flex align-items-center">
          <div class="anio-1877"></div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="info-adicional">

  <div class="container">
    <h2 class="title-info text-center">Información Adicional:</h2>
    <div class="info-add-hoja">
      <div class="text-content">
        <h2>SIGLO XIX</h2>
        <p>Se difunde en materia social y económica,
          el individualismo, el liberalismo y el
          capitalismo, adicionalmente se llevaba un
          proceso de 100 años en el progreso
          científico, filosófico y de derechos y
          libertades, mientras tanto en Europa
          seguía el conficto de clases sociales,
          Naciones y Estados.</p>
      </div>

    </div>
    <div class="info-add-hoja">
      <div class="text-content">
        <h2>ORGANIZACIÓN SINDICAL</h2>
        <p>Gran influencia cooperativo, pues en el
          la agrupación de trabajadores pertenecientes
          a empresas públicas y privadas, en sindicatos,
          sirvió de base a las Cooperativas de propósitos
          múltiples (con secciones de crédito,
          consumo, vivienda, previsión, etc.), que
          han sido muy comunes en algunas de las
          más grandes ciudades de Iberoamérica.</p>
      </div>
    </div>
  </div>

</section>

<section class="linea_tiempo">

  <div class="container">
    <div class="alianza-aci">
      <div class="row justify-content-center flex-column-reverse flex-md-row pb-5">
        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
          <div class="text-content text-center text-md-start">
            <h2>La Alianza Cooperativa Internacional (ACI)</h2>
            <p>En Europa, en la primera etapa de
              la fundación de la ACI, hasta el
              congreso de 1902, estuvo
              dominado por las ideas de la
              participación en los excedentes y
              las Cooperativas de trabajo
              asociado.</p>
          </div>
        </div>
        <div class="col-md-1 d-none d-md-flex align-items-center flex-wrap">
          <div class="linea-abajo-turqueza"></div>
        </div>
        <div class="col-12 col-md-5 d-flex align-items-center justify-content-center">
          <div class="anio-1895"></div>
        </div>
      </div>
    </div>

    <div class="federacion-nacional-sueca">
      <div class="row justify-content-center flex-column flex-md-row pb-5">
        <div class="col-12 col-md-5 d-flex align-items-center justify-content-center">
          <div class="anio-1899"></div>
        </div>
        <div class="col-md-1 d-none d-md-flex align-items-center flex-wrap">
          <div class="linea-abajo-azul"></div>
        </div>
        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
          <div class="text-content text-center text-md-start">
            <h2>Federación Nacional Sueca (Kooperativa Forbundet, KF)</h2>
            <p>El cooperativismo de consumo
              en países escandinavos, dio
              lugar a la Federación Nacional
              Sueca (KF) para abastecer a las
              Cooperativas de los productos
              más necesarios y para poder
              luchar eficazmente en el
              mercado con los monopolios
              industriales y comerciales.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="alphonse-desjardins">
      <div class="row justify-content-center flex-column-reverse flex-md-row">
        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
          <div class="text-content text-center text-md-start">
            <h2>Alphonse Desjardins</h2>
            <p>Alphonse Desjardins
              Fundó con su esposa Desjardins
              Group, con una síntesis de cuatro
              sistemas populares de ahorro y
              crédito establecidos en Alemania,
              Italia y Francia, ésta organización
              fue precursora de las Cooperativas
              de ahorro Y crédito
              norteamericanas actuales.</p>
          </div>
        </div>
        <div class="col-md-1 d-none d-md-flex align-items-center flex-wrap">
          <div class="linea-abajo-turqueza"></div>
        </div>
        <div class="col-12 col-md-5 d-flex align-items-center justify-content-center">
          <div class="anio-1900"></div>
        </div>
      </div>
    </div>
  </div>


</section>


<section class="coop_america">

  <div class="container">

    <h2 class="title-coop-america text-center">Información Adicional: Cooperativismo en América.</h2>

    <div class="row justify-content-center flex-column flex-md-row pb-5">

      <div class="col-12 col-md-5 d-flex justify-content-center align-items-center mb-5">
        <div class="hoja1">
          <p>En el movimiento cooperativo
            llamado de “Antigonish",

            Las Cooperativas de Ahorro y orientado por la Universidad de
            Crédito que se inician en Canadá, San Francisco Javier [Nueva
            pasan luego a los Estados Unidos en Escocia, Canadá), después de
            | — donde logran una gran expansión y haber logrado sorprendentes</p>
        </div>
      </div>
      <div class="col-md-1 d-none d-md-flex align-items-center flex-wrap">
        <div class="flecha-derecha"></div>
      </div>
      <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
        <div class="hoja2">
          <p>
            se integra la organización conocida resultados en la transformación
            con el nombre de: Credit Union de las provincias marítimas
            National Association por sus siglas en canadienses, se proyectó
            inglés CUNA (Asociación Nacional también sobre algunos países
            de Uniones de Crédito). del Caribe entre los cuales

            merece ser citado de manera
            especial, Puerto Rico.
          </p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <div class="fecha-abajo d-none d-md-flex"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="hoja3">
          <p>
            La integración internacional se demoró un poco más, ya que si
            bien es cierto que algunas Organizaciones Cooperativas de países
            iberoamericanos se afiliaron desde hace muchos años a la Alianza
            Cooperativa Internacional, la integración a nivel regional solo se
            inició con firmeza en 1957 con la fundación de la Confederación
            Cooperativa del Caribe y se vino a consolidar en 1963, año en el
            cual quedó constituida la Organización de Cooperativas de
            América (OCA) y en 1970 cuando se estableció la Confederación
            Latinoamericana de Cooperativas de Ahorro y Crédito (COLAC).
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="arcoiris"></div>

</section>


<section class="coop_mexico">

  <div class="container">
    <div class="row">
      <div class="col">
        <img class="img-piramides" src="assets/piramides.svg" alt="">
      </div>
      <div class="col">
        <div class="row flex-column">
          <div class="col">
            <img class="img-templos" src="assets/templo.svg" alt="">
          </div>
          <div class="col">
            <h2 class="inf-add-mx text-end">Información Adicional: Cooperativismo en México.</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card-inf-prehispanica">
          <p>
            En la época prehispánica, en la Gran Tenochtitlan de México
            existía una importante organización de pueblos que, bajo el
            trabajo cooperativo en la estructura del Imperio de Anáhuac,
            obedecía al nombre de Calpulli, es decir, tierra de barrio.

            La característica de este régimen de propiedad, se representó
            por el hecho de que las tierras de un barrio determinado
            estaban bien identificadas y cada lote pertenecía a una
            familia, la cual explotaba por su propia cuenta en calidad de
            propiedad privada, pero sin libertad para enajenarla o
            venderla pues estaba condicionada al bien social.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center flex-column-reverse flex-md-row">
      <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
        <div class="card-precolombino">
          <p>
            En el México precolombino, los
            pueblos indígenas, particularmente
            los nahuas se integraban con
            parientes, amigos y aliados. Un
            Consejo de ancianos, liderado por
            el pariente de mayor edad, dirigía
            la organización de la comunidad,
            llevaba un registro o censo,
            distribuía las tierras laborables entre
            los hombres aptos para ese trabajo,
            entre otras actividades.
          </p>
        </div>
      </div>
      <div class="col-md-1 d-none d-md-flex align-items-center flex-wrap">
        <img class="flecha-derecha" src="assets/flecha-derecha-blanca.svg" alt="">
      </div>
      <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
        <div class="card-colonial">
          <p>
            Durante ..la.. época. colonial,
            funcionaban los. “pósitos” que
            eran... almacenes... comunales
            en... los... que... los... indígenas
            depositaban..el producto. de
            sus cosechas. Otro ejemplo de

            cooperativismo primitivo
            mexicano fueron los
            “pueblos-hospitales”.,
            fundados porel Obispo Vasco
            de . Quiroga,...en.. Michoacán
            alrededor del. año. 1550.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="elias_calles">

  <div class="container">
    <div class="hoja-cuaderno">
      <p>
        El Cooperativismo ha existido en México desde finales del siglo XIX y principios
        del siglo XX, a través de Cajas de Ahorro Rurales que tuvieron como propósito
        ayudar a las clases económicamente más necesitadas. Así nacen las
        primeras Cooperativas en México, que obtienen reconocimiento legal en
        1889, cuando en el código de comercio se les reconoce como “Unidades
        económicas, con características de organización y funcionamiento
        diferentes a las de la empresa privada".

        Al iniciarse el siglo XX, las actividades cooperativistas en nuestro país eran
        escasas y poco significativas, no tuvieron avances en esa época. Los largos
        años de dictadura del Presidente Porfirio Díaz habían adormecido y frenado
        éstos ideales.

        Un antecedente revolucionario es el “Centro Mutuo Cooperativo de México",
        cuyos miembros eran decididos partidarios del Licenciado Francisco |.
        Madero González. Por esa razón, al triunfar la Revolución Mexicana, éste
        movimiento obtuvo su anhelada oportunidad de avance y expansión.
      </p>
    </div>


    <img class="cinta-precidente" src="assets/presidente.svg" alt="">


    <div class="epoca-pos">
      <p>
        Durante la época posrevolucionaria, el Cooperativismo comenzó a crecer, a
        pesar de no existir todavía un marco jurídico propio; este expresidente fue un
        pionero al promulgar la primera ley. Por lo que dio pie al surgimiento de
        Cooperativas en México y otros países, dedicadas a la pesca, transportes,
        artes gráficas, consumo y servicios diversos.
      </p>
    </div>

  </div>

</section>

<section class="cronologia">
  <div class="container">
    <h2>CRECIMIENTO COOPERATIVO EN MÉXICO</h2>
    <p>(cronología1839-2012)</p>
    <table>
      <tbody>
        <tr>
          <div class="espace">
            <td class="año">1839</td>
            <td class="desc">Aparecen las mutualistas como la Caja de Ahorros de Orizaba, Veracruz.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1873</td>
            <td class="desc">Surge el taller Cooperativo de Sastres, primera Sociedad Cooperativa.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1889</td>
            <td class="desc"> Se expide reconocimiento en el Código de Comercio.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1910</td>
            <td class="desc">Se constituye el Centro Mutuo Cooperativo.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1918</td>
            <td class="desc">Se fundó el Partido Cooperativista Nacional.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1920</td>
            <td class="desc">Partido Cooperativista Nacional arroja 60 diputados y 5 gobernadores.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1922</td>
            <td class="desc">Nace la Cooperativa de Alijadores de Tampico, de Responsabilidad Limitada.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1925</td>
            <td class="desc">Se conforma la Confederación Nacional de Sociedades Cooperativas Socialistas.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1927</td>
            <td class="desc">Nace la Confederación Nacional Cooperativa.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1927</td>
            <td class="desc">El Expresidente Lic. Plutarco Elías Calles promulga la Ley Cooperativa.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1933</td>
            <td class="desc">Expresidente Abelardo L. Rodríguez promulga la Segunda Ley Cooperativa.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1935</td>
            <td class="desc">Surgió la Liga Nacional de Sociedades Cooperativas.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1938</td>
            <td class="desc">Se crea La Ley General de Sociedades Cooperativas.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1942</td>
            <td class="desc">Se celebra Asamblea Constituyente Confederación Nacional Cooperativa.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1842</td>
            <td class="desc">Surge el Movimiento Nacional de Cajas Populares.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1953</td>
            <td class="desc">Fundación de la Cooperativa La Cruz Azul.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1964</td>
            <td class="desc">Se instituyó la Confederación Nacional de Cajas Populares.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1978</td>
            <td class="desc">Se fundó la Cooperativa de Trabajadores de Pascual.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1988</td>
            <td class="desc">Se reconocen 8,017 Cooperativas en el país (72% Cooperativas de Producción, 28% de consumo)con 349 mil cooperativistas.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1994</td>
            <td class="desc">Se promulga la nueva Ley General de Sociedades Cooperativas.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">1998</td>
            <td class="desc">Se constitutivo la Confederación Nacional Cooperativa de Actividades Diversas.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">2001</td>
            <td class="desc">Se promulga la Ley de Ahorro y Crédito Popular.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">2002</td>
            <td class="desc">La UNAM efectúa un censo y organiza cursos y servicio social a Cooperativas.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">2004</td>
            <td class="desc">La ACI convoca un Foro Cooperativo Latinoamericano realizado en Argentina.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">2009</td>
            <td class="desc">Se expide la Ley para Regular las Actividades de las Sociedades Cooperativas de Ahorro y Préstamo</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">2011</td>
            <td class="desc">Por acuerdo de la ONU, se crea en el 2012 Año Internacional de las Cooperativas.
              Reunión de la Alianza Cooperativa Internacional en Cancún Quinta Roo, con la presencia del Presidente Felipe Calderón Hinojosa y representantes de 2,200 organismos cooperativos del mundo, además, se instaura el Año Internacional de las Cooperativas.</td>
          </div>
        </tr>
        <tr>
          <div class="espace">
            <td class="año">2012</td>
            <td class="desc">Por iniciativa de los cooperativistas, se crea en la Cámara de Diputados la Medalla al Mérito Cooperativo. El padre Manuel Velázquez, uno de los fundadores del movimiento cajista mexicano, recibe la primera medalla en una sesión solemne.
              La Comisión de Fomento Económico del Senado, adiciona a la Ley para Regular las Actividades de las Sociedades Cooperativas de Ahorro y Préstamo, las Disposiciones de Carácter General específicas al sector.</td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="simbolos">

  <h2>SÍMBOLOS</h2>
  <h2>BANDERA</h2>

  <p>
    En la bandera de la Cooperación se recogen los colores de
    todas las banderas del mundo como mensaje de amor
    Universal. Este simbolo nos recuerda un pacto divino de paz
    para la humanidad entera, que supera las diferencias
    políticas, económicas, sociales, raciales o religiosas.

    Es decir, la esperanza de la humanidad de lograr un mundo
    mejor donde reine la libertad, la dignidad, la justicia social y
    la solidaridad.
  </p>

  <p>
    La utilización de estos siete colores del arco iris para la Bandera del Cooperativismo,
    fue propuesta por Charles Gide, reconocido cooperativista francés, que, en el año
    1923, en el transcurso de una reunión de la Alianza Cooperativa Internacional (ACI)
    realizada en la ciudad de Gante, Bélgica, fue aprobada como bandera y simbolo
    del Cooperativismo.

    Gide siempre manifestó que la idea original del arco iris, emanaba de Charles
    Fourier, otro cooperativista francés reconocido en el ámbito mundial.

    La nueva bandera que identifica al Cooperativismo, fue adoptada en abril de 2001
    por decisión de la Asamblea de la Alianza Cooperativa Internacional (ACI) debido
    a que la anterior bandera que identificaba al sector cooperativo, es utilizada desde
    hace varios años para identificar a “grupos no cooperativos", provocando
    confusión en diversos países del mundo. La nueva versión muestra palomas de la
    paz que emergen de un arco iris y representa la unidad de los diversos miembros de
    la ACI.

    Son los 7 colores del prisma como elementos de la gran luz que ilumina al mundo.
    Debe ser el simbolo de alianza de todos los cooperativistas que sueñan y trabajan
    por una transformación social sobre una base de convivencia más justa.

    Cada uno de estos colores tiene su propio significado:
  </p>

  <ul>
    <li>Rojo: La universalidad.</li>
    <li>Anaranjado: La democracia.</li>
    <li>Amarillo: La justicia.</li>
    <li>Verde: La economía.</li>
    <li>AZUL turquesa: La difusión.</li>
    <li>Azul: La unidad.</li>
    <li>Violeta:talibertad.</li>
  </ul>

  <p>
    El fondo blanco: representa el sentido de pertenencia
    e identificación del movimiento Cooperativo.
  </p>

</section>

<section class="sig-pinos">

  <p>Las conjunciones de los siete colores
    representan:</p>
  <ul>
    <li>La unidad en la diversidad.</li>
    <li>La paz después de las tormentas y el
      augurio de buenos tiempos.</li>
  </ul>

  <h2>LOS PINOS</h2>

  <p>El emblema o símbolo más usado, después de esta bandera
    y sobre todo en América, es un círculo color oro con 2 pinos
    verdes al centro, rodeados por una circunferencia verde,
    donde se apoyan los pinos.

    Significado de cada una de sus partes</p>

  <p><strong>EL PINO:</strong> El árbol del pino, se consideraba en la antigúedad
    como símbolo de inmortalidad y de fecundidad, era
    respetado por su capacidad de supervivencia en las tierras
    menos fecundas y la sorprendente capacidad de
    multiplicación.</p>
  <p><strong>EL CÍRCULO:</strong> Representa la vida eterna, además la idea del
    mundo reflejando así, la universalidad.</p>
  <p><strong>EL VERDE OSCURO:</strong> Se asemeja al color de la clorofila, donde
    nace el principio vital de la naturaleza.</p>
  <p><strong>EL AMARILLO:</strong> Representa el sol, fuente permanente de
    energía, calor y vida.</p>
  <p><strong>EL EMBLEMA:</strong> Un círculo que abraza dos árboles del pino,
    indica la unión del movimiento, la inmortalidad de sus
    principios, la fecundidad de sus seguidores, adicionalmente
    se proyectan en lo alto, intentando crecer cada vez más.</p>

</section>
