<section class="modulo1">
  <div class="row">
    <div class="col-6 d-flex flex-column align-items-center justify-content-center">
      <h2>MÓDULO 1</h2>
      <p>INTRODUCCIÓN AL
        COOPERATIVISMO</p>
    </div>
      <div class="col-6 d-flex flex-column align-items-center justify-content-center">
        <!-- <img src="assets/course-1-3.png" alt=""> -->
      </div>
  </div>
</section>

<section class="objetivo_general">
  <h2>OBJETIVO GENERAL</h2>
  <p>Lograr que los participantes
    conozcan el Cooperativismo,
    para comprender desde su
    origen hasta la actualidad de
    las Sociedades Cooperativas
    de Ahorro y Préstamo.</p>
</section>

<section class="tema">
  <h3>TEMA</h3>
  <p><strong>¿Qué es el Cooperativismo?</strong>
    Antecedentes históricos del Cooperativismo
    <strong>Actividad:</strong> Crucigrama
    Símbolos del Cooperativismo
    Retroalimentación
  </p>
</section>

<section class="introduccion">
  <h2>INTRODUCCIÓN</h2>
  <p>A través de la historia los valores de
    solidaridad, colectivimo y acción
    común han estado presentes en la
    organización económica de las
    sociedades, aunque no es hasta el
    siglo XIX cuando con la formulación
    de principios y una filosofía basados
    en la concepción social que propone
    la cooperación y apoyo mutuo entre
    individuos que, previamente han
    acordado asociarse libre y
    voluntariamente para satisfacer sus
    necesidades económicas, sociales y
    culturales, siendo así como poco a
    poco se conformó el Cooperativismo.

    De esta forma comprender cómo, por
    qué y dónde se inició el pensamiento
    cooperativista, las distintas doctrinas
    filosóficas que generaron la creación
    de Cooperativas en numerosas partes
    del planeta. Además, los beneficios
    de una adecuada administración del
    dinero para mejorar la calidad de vida
    de una persona y su familia.</p>
</section>

<section class="que_es_cooperativismo">
  <h2>¿QUÉ ES EL COOPERATIVISMO?</h2>
  <p>Es un movimiento socioeconómico basado en
    valores y principios de igualdad y equidad. Las
    personas se organizan y asocian voluntariamente
    en empresas Cooperativas de propiedad conjunta
    y democráticamente controladas para hacer
    frente a sus necesidades y aspiraciones
    económicas, sociales y culturales. Para lograr esto,
    sus Socios deben estar en un constante aprendizaje
    de los procesos asociativos y económicos del
    modelo cooperativo, además, deben conocer las
    bases legales y los procesos de operación.

    Este modelo da oportunidad a las personas de
    escasos recursos, ad tener una empresa de
    propiedad en conjunto. Uno de los propósitos de
    este sistema, es eliminar la explotación de los
    individuos o empresas, por otros dedicados a
    obtener ganancias.

    La participación del ser humano, asumiendo un rol
    protagonista en los procesos socioeconómicos en
    la comunidad en que vive, es la principal fortaleza
    de la doctrina cooperativista y esta se rige por
    valores y principios basados en el desarrollo integral
    del ser humano y no solo con propósitos
    económicos.</p>

  <h2>ANTECEDENTES HISTÓRICOS DEL
    COOPERATIVISMO.</h2>
  <p>La historia del Cooperativismo comienza en épocas remotas, cuando

    se produjeron expresiones que podríamos llamar “pre cooperativas”.

    Se ha llegado a decir que la humanidad y la cooperación tienen la
    misma historia, ya sea voluntaria, coaccionada o forzada, se han
    encontrado sistemas de organización con ciertos caracteres de
    cooperación y participación igudlitaria en la prehistoria, como tribus |
    con propiedad conjunta de bienes y actividades básicas de caza,
    pesca, entre otras, realizadas por grupos para alcanzar un bien
    común. </p>
</section>

<section class="edades">
  <h2>EDAD ANTIGUA</h2>
  <p>En — Babilonia, se — formaban — organizaciones — para
    arrendamiento y explotación en común de las tierras
    laborables, paralelamente los griegos y romanos
    generaban asociaciones de seguros de artesanos y
    ciertos fondos “voluntarios de ayuda mutua
    (especialmente para procurar sepultura).</p>

  <h2>EDAD MEDIA</h2>
  <p>En los medios rurales, se dieron manifestaciones de
    campesinos agrupados para realizar colectivamente la
    transformación. y algunas veces la venta de la
    producción lechera, en territorios de lo que hoy es
    Francia, Italia y Suiza. En el caso particular de Francia, en
    el siglo XII o XIII se constituyen las “frutieres", que
    conservan esa denominación hasta nuestros días y
    constituyen queserías cooperativas.

    En-los pueblos se producen manifestaciones de tipo
    cooperativo: los artesanos y comerciantes se organizan
    en “guildas" o “corporaciones", con un marcado espíritu
    proteccionista.

    En monasterios cristianos, surgieron un tipo particular de
    cooperativas integrales o comunidades autosuficientes,
    en donde tanto las actividades de producción como de
    consumo se realizaban en común.</p>

  <h2>EDAD MODERNA</h2>
  <p>Durante los siglos XVI y XVII, se conocen obras de filósofos y
    economistas que procuraban subsanar los graves males de
    la-organización socioeconómica existente, éstas describen
    nuevos tipos de comunidades, a su juicio mejor
    organizadas, que proponen conceptos originales acerca
    del gobierno, la propiedad privada, el trabajo, la familia y la
    educación.

    Entre los principales precursores del cooperativismo están
    Tomás Moro, Tommaso Campanella, Francis Bacon, Robert
    Owen, Charles Fourier, William King, Philippe Buchez y Louis
    Blanc.
  </p>

</section>


<section class="linea_tiempo">

  <h2>Primer Cooperativa - 184</h2>
  <p>Un grupo de 28 artesanos que
    trabajaban en las fábricas de
    algodón de la localidad de
    Rochdale, en el norte de
    Inglaterra, — establecieron - la
    primera empresa cooperativa
    moderna.</p>

  <h2>Fredereick William
    Raiffeisen - 1864</h2>
  <p>Aplicó los principios y métodos
    de la cooperación a las
    actividades financieras de los
    campesinos, artesanos y
    pequeños empresarios, sugirió
    a su pueblo afrontar el
    problema común de la
    pobreza juntando sus recursos
    y prestándoselos unos a otros a
    intereses razonables. Tal fue la
    idea que dio vida a las
    Cooperativas de ¿Ahorro y
    Crédito en el mundo.</p>

  <h2>Juan Bautista Godin - 1877</h2>
  <p>En Francia prosperaban las
    cooperativas de producción y
    trabajo con ejemplos tan
    conocidos como el “Familisterio”,
    construyó otros dos grupos para
    600 personas cada uno,
    equipados con una tienda
    cooperativa, guardería de niños,
    escuela, hospital, dispensario y
    teatro, con seguros de
    enfermedad y pensiones de
    retiro.</p>

</section>

<section class="info-adicional">

  <h2>Información Adicional:</h2>
  <p><strong>SIGLO XIX</strong></p>
  <p>Se difunde en materia social y económica,
    el individualismo, el liberalismo y el
    capitalismo, adicionalmente se llevaba un
    proceso de 100 años en el progreso
    científico, filosófico y de derechos y
    libertades, mientras tanto en Europa
    seguía el conficto de clases sociales,
    Naciones y Estados.</p>
  <p><strong>ORGANIZACIÓN SINDICAL</strong></p>
  <p>Gran influencia cooperativo, pues en el
    la agrupación de trabajadores pertenecientes
    a empresas públicas y privadas, en sindicatos,
    sirvió de base a las Cooperativas de propósitos
    múltiples (con secciones de crédito,
    consumo, vivienda, previsión, etc.), que
    han sido muy comunes en algunas de las
    más grandes ciudades de Iberoamérica.</p>

</section>

<section class="linea_tiempo">

  <h2>La Alianza
    Cooperativa
    Internacional (ACI) - 1895</h2>
  <p>En Europa, en la primera etapa de
    la fundación de la ACI, hasta el
    congreso de 1902, estuvo
    dominado por las ideas de la
    participación en los excedentes y
    las Cooperativas de trabajo
    asociado.</p>

  <h2>Federación
    Nacional Sueca
    (Kooperativa
    Forbundet, KF) - 1899</h2>
  <p>El cooperativismo de consumo
    en países escandinavos, dio
    lugar a la Federación Nacional
    Sueca (KF) para abastecer a las
    Cooperativas de los productos
    más necesarios y para poder
    luchar eficazmente en el
    mercado con los monopolios
    industriales y comerciales.</p>

  <h2>Alphonse Desjardins - 1900</h2>
  <p>Alphonse Desjardins
    Fundó con su esposa Desjardins
    Group, con una síntesis de cuatro
    sistemas populares de ahorro y
    crédito establecidos en Alemania,
    Italia y Francia, ésta organización
    fue precursora de las Cooperativas
    de ahorro Y crédito
    norteamericanas actuales.</p>

</section>


<section class="coop_america">
  <h2>Información Adicional:
    Cooperativismo en América.</h2>

  <p>En el movimiento cooperativo
    llamado de “Antigonish",

    Las Cooperativas de Ahorro y orientado por la Universidad de
    Crédito que se inician en Canadá, San Francisco Javier [Nueva
    pasan luego a los Estados Unidos en Escocia, Canadá), después de
    | — donde logran una gran expansión y haber logrado sorprendentes</p>

  <p>
    se integra la organización conocida resultados en la transformación
    con el nombre de: Credit Union de las provincias marítimas
    National Association por sus siglas en canadienses, se proyectó
    inglés CUNA (Asociación Nacional también sobre algunos países
    de Uniones de Crédito). del Caribe entre los cuales

    merece ser citado de manera
    especial, Puerto Rico.
  </p>

  <p>
    La integración internacional se demoró un poco más, ya que si
    bien es cierto que algunas Organizaciones Cooperativas de países
    iberoamericanos se afiliaron desde hace muchos años a la Alianza
    Cooperativa Internacional, la integración a nivel regional solo se
    inició con firmeza en 1957 con la fundación de la Confederación
    Cooperativa del Caribe y se vino a consolidar en 1963, año en el
    cual quedó constituida la Organización de Cooperativas de
    América (OCA) y en 1970 cuando se estableció la Confederación
    Latinoamericana de Cooperativas de Ahorro y Crédito (COLAC).
  </p>
</section>

<section class="coop_mexico">

  <h2>Información Adicional:
    Cooperativismo en México.</h2>

  <p>
    En la época prehispánica, en la Gran Tenochtitlan de México
    existía una importante organización de pueblos que, bajo el
    trabajo cooperativo en la estructura del Imperio de Anáhuac,
    obedecía al nombre de Calpulli, es decir, tierra de barrio.

    La característica de este régimen de propiedad, se representó
    por el hecho de que las tierras de un barrio determinado
    estaban bien identificadas y cada lote pertenecía a una
    familia, la cual explotaba por su propia cuenta en calidad de
    propiedad privada, pero sin libertad para enajenarla o
    venderla pues estaba condicionada al bien social.
  </p>

  <p>
    En el México precolombino, los
    pueblos indígenas, particularmente
    los nahuas se integraban con
    parientes, amigos y aliados. Un
    Consejo de ancianos, liderado por
    el pariente de mayor edad, dirigía
    la organización de la comunidad,
    llevaba un registro o censo,
    distribuía las tierras laborables entre
    los hombres aptos para ese trabajo,
    entre otras actividades.
  </p>

  <p>
    Durante ..la.. época. colonial,
    funcionaban los. “pósitos” que
    eran... almacenes... comunales
    en... los... que... los... indígenas
    depositaban..el producto. de
    sus cosechas. Otro ejemplo de

    cooperativismo primitivo
    mexicano fueron los
    “pueblos-hospitales”.,
    fundados porel Obispo Vasco
    de . Quiroga,...en.. Michoacán
    alrededor del. año. 1550.
  </p>

</section>

<section class="elias_calles">
  <p>
    El Cooperativismo ha existido en México desde finales del siglo XIX y principios
    del siglo XX, a través de Cajas de Ahorro Rurales que tuvieron como propósito
    ayudar a las clases económicamente más necesitadas. Así nacen las
    primeras Cooperativas en México, que obtienen reconocimiento legal en
    1889, cuando en el código de comercio se les reconoce como “Unidades
    económicas, con características de organización y funcionamiento
    diferentes a las de la empresa privada".

    Al iniciarse el siglo XX, las actividades cooperativistas en nuestro país eran
    escasas y poco significativas, no tuvieron avances en esa época. Los largos
    años de dictadura del Presidente Porfirio Díaz habían adormecido y frenado
    éstos ideales.

    Un antecedente revolucionario es el “Centro Mutuo Cooperativo de México",
    cuyos miembros eran decididos partidarios del Licenciado Francisco |.
    Madero González. Por esa razón, al triunfar la Revolución Mexicana, éste
    movimiento obtuvo su anhelada oportunidad de avance y expansión.
  </p>

  <strong>Presidente Plutarco Elias Calles</strong>
  <p>
    Periodo Presidencial:
    1 de diciembre de 1924-30 de noviembre de 1928
  </p>
  <p>
    Durante la época posrevolucionaria, el Cooperativismo comenzó a crecer, a
    pesar de no existir todavía un marco jurídico propio; este expresidente fue un
    pionero al promulgar la primera ley. Por lo que dio pie al surgimiento de
    Cooperativas en México y otros países, dedicadas a la pesca, transportes,
    artes gráficas, consumo y servicios diversos.
  </p>

</section>

<section class="cronologia">

  <h2>CRECIMIENTO COOPERATIVO EN MÉXICO</h2>
  <p>(cronología1839-2012)</p>

</section>

<section class="simbolos">

  <h2>SÍMBOLOS</h2>
  <h2>BANDERA</h2>

  <p>
    En la bandera de la Cooperación se recogen los colores de
    todas las banderas del mundo como mensaje de amor
    Universal. Este simbolo nos recuerda un pacto divino de paz
    para la humanidad entera, que supera las diferencias
    políticas, económicas, sociales, raciales o religiosas.

    Es decir, la esperanza de la humanidad de lograr un mundo
    mejor donde reine la libertad, la dignidad, la justicia social y
    la solidaridad.
  </p>

  <p>
    La utilización de estos siete colores del arco iris para la Bandera del Cooperativismo,
    fue propuesta por Charles Gide, reconocido cooperativista francés, que, en el año
    1923, en el transcurso de una reunión de la Alianza Cooperativa Internacional (ACI)
    realizada en la ciudad de Gante, Bélgica, fue aprobada como bandera y simbolo
    del Cooperativismo.

    Gide siempre manifestó que la idea original del arco iris, emanaba de Charles
    Fourier, otro cooperativista francés reconocido en el ámbito mundial.

    La nueva bandera que identifica al Cooperativismo, fue adoptada en abril de 2001
    por decisión de la Asamblea de la Alianza Cooperativa Internacional (ACI) debido
    a que la anterior bandera que identificaba al sector cooperativo, es utilizada desde
    hace varios años para identificar a “grupos no cooperativos", provocando
    confusión en diversos países del mundo. La nueva versión muestra palomas de la
    paz que emergen de un arco iris y representa la unidad de los diversos miembros de
    la ACI.

    Son los 7 colores del prisma como elementos de la gran luz que ilumina al mundo.
    Debe ser el simbolo de alianza de todos los cooperativistas que sueñan y trabajan
    por una transformación social sobre una base de convivencia más justa.

    Cada uno de estos colores tiene su propio significado:
  </p>

  <ul>
    <li>Rojo: La universalidad.</li>
    <li>Anaranjado: La democracia.</li>
    <li>Amarillo: La justicia.</li>
    <li>Verde: La economía.</li>
    <li>AZUL turquesa: La difusión.</li>
    <li>Azul: La unidad.</li>
    <li>Violeta:talibertad.</li>
  </ul>

  <p>
    El fondo blanco: representa el sentido de pertenencia
    e identificación del movimiento Cooperativo.
  </p>

</section>

<section class="sig-pinos">

  <p>Las conjunciones de los siete colores
    representan:</p>
  <ul>
    <li>La unidad en la diversidad.</li>
    <li>La paz después de las tormentas y el
      augurio de buenos tiempos.</li>
  </ul>

  <h2>LOS PINOS</h2>

  <p>El emblema o símbolo más usado, después de esta bandera
    y sobre todo en América, es un círculo color oro con 2 pinos
    verdes al centro, rodeados por una circunferencia verde,
    donde se apoyan los pinos.

    Significado de cada una de sus partes</p>

    <p><strong>EL PINO:</strong> El árbol del pino, se consideraba en la antigúedad
      como símbolo de inmortalidad y de fecundidad, era
      respetado por su capacidad de supervivencia en las tierras
      menos fecundas y la sorprendente capacidad de
      multiplicación.</p>
    <p><strong>EL CÍRCULO:</strong> Representa la vida eterna, además la idea del
      mundo reflejando así, la universalidad.</p>
    <p><strong>EL VERDE OSCURO:</strong> Se asemeja al color de la clorofila, donde
      nace el principio vital de la naturaleza.</p>
    <p><strong>EL AMARILLO:</strong> Representa el sol, fuente permanente de
      energía, calor y vida.</p>
    <p><strong>EL EMBLEMA:</strong> Un círculo que abraza dos árboles del pino,
      indica la unión del movimiento, la inmortalidad de sus
      principios, la fecundidad de sus seguidores, adicionalmente
      se proyectan en lo alto, intentando crecer cada vez más.</p>

</section>
