<div class="modulo5">

  <div class="inicio d-flex flex-column text-center justify-content-center align-items-center text-light">
    <div class="container">
      <div class="titulo">
        <h1 class="animate__animated animate__fadeInDown">Modulo 5</h1>
        <img class="animate__animated animate__zoomInDown animate__delay-2s" src="assets/img-modulo5/2.svg" alt="">
      </div>
    </div>
  </div>

  @defer (on viewport) {
  <div class="obj-gen animate__animated animate__bounceInLeft animate__slow">
    <div class="container">
      <div class="bg">
        <!-- <img src="assets/img-modulo5/9.svg" alt=""> -->
        <div class="text d-flex flex-column justify-content-center align-items-center text-center">
          <h2>OBJETIVO GENERAL</h2>
          <p>Comprender la definición y conceptos
            básicos referentes a la Educación
            Financiera, así como ayudar a desarrollar
            habilidades para el manejo de su
            economía personal.</p>
        </div>

      </div>
    </div>

  </div>
  }@placeholder {
  <div style="height: 620px;"></div>
  }

  @defer (on viewport) {
  <div class="temario animate__animated animate__bounceInRight animate__slower">
    <div class="container">
      <div class="bg">

        <div class="text text-start">
          <h3>TEMARIO</h3>
          <ul>
            <li>•¿Qué es Educación Financiera?</li>
            <li>•Ahorro, Ingreso y Gasto</li>
            <li>•Actividad: Elaborar un Plan de Ahorro</li>
            <li>•Planificación y presupuesto individual o familiar</li>
            <li>•Actividad: Crear un presupuesto individual o
              familiar</li>
            <li>•Retroalimentación</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  }@placeholder {
  <div style="height: 400px;"></div>
  }

  @defer (on viewport) {
  <div class="introducction animate__animated animate__fadeInUpBig animate__slower">
    <div class="container">
      <div class="bg">
        <div class="text">
          <h3>INTRODUCCIÓN</h3>
          <p>
            Para Caja Popular San Pablo, el control y buen
            manejo del dinero es indispensable en la vida
            diaria de nuestros Socios, pues brinda estabilidad
            personal y familiar. El utilizar herramientas y
            desarrollar habilidades que permitan la
            aplicación de conceptos de educación
            financiera, para evitar riesgos y afrontar
            contratiempos de una manera más adecuada,
            es imprescindible para fijar y alcanzar metas
            económicas en el corto, mediano y largo plazo
          </p>
        </div>
      </div>
    </div>
  </div>
  }@placeholder {
  <div style="height: 570px;"></div>
  }

  <div class="que-es mb-5">
    <div class="container">

      <div class="bg-izquierda mb-5">

        @defer(on viewport){
        <div class="text animate__animated animate__fadeInTopRight animate__slow">
          <h3>¿QUÉ ES EDUCACIÓN FINANCIERA?</h3>
          <p>Es un proceso de desarrollo de habilidades y actitudes
            que, mediante la asimilación de información
            comprensible, con herramientas básicas de
            administración de recursos y planeación, permiten a los
            individuos tomar decisiones personales y sociales de
            carácter económico en su vida cotidiana y utilizar
            productos y servicios financieros para mejorar su calidad
            de vida bajo condiciones de certeza.
            La Educación Financiera pretende mediante información
            comprensible, que el Socio sea capaz de:</p>

          <ul>
            <li>Administrar su dinero.</li>
            <li>Planificar el futuro.</li>
            <li>Tomar decisiones personales de carácter financiero en la
              vida diaria.</li>
            <li>Elegir y utilizar productos, así como servicios financieros
              acordes a sus necesidades.</li>
            <li>Acceder a información relativa a asuntos económicos y
              financieros.</li>
          </ul>

          <p>La Educación en este contexto, permite mejorar las
            capacidades financieras en todos los segmentos de la
            población, cuando se comprende la finalidad e
            importancia, es perceptible la utilidad que tendrán los
            Socios en su vida y las mejoras económicas podrán ser
            visibles.</p>
        </div>
        }@placeholder {
        <div style="height: 670px;"></div>
        }


      </div>

      <div class="bg-derecha">
        @defer(on viewport){
        <div class="text text animate__animated animate__fadeInTopLeft animate__slow">
          <p>Existe también la seguridad financiera, que varía según las
            necesidades y etapa de la vida en que se encuentre el
            Socio cuando:</p>

          <ul>
            <li>No tiene deudas o cuenta con solvencia económica
              para cubrirlas.</li>
            <li>Es capaz de ahorrar mediante un adecuado control de
              sus gastos.</li>
            <li>Tiene un historial crediticio sano</li>
          </ul>

          <p>En definitiva, se trata de alcanzar una situación en la que
            no tengamos dificultades económicas y con la seguridad
            de que, en caso de un imprevisto, nuestras finanzas
            podrán solventarlo sin problema.
          </p>

          <img src="assets/img-modulo5/8.svg" alt="">
        </div>

        }@placeholder {<div style="height: 670px;"></div>}

      </div>

    </div>
  </div>

  <div class="ahorro-e-inversion">
    <div class="container">
      <div class="bg-izquierda mb-5">

        @defer(on viewport){
        <div class="text animate__animated animate__fadeInBottomLeft animate__slow">

          <h3>AHORRO E INVERSIÓN</h3>
          <p>Para conseguir la seguridad financiera es primordial
            conocer cuál es nuestra situación actual, evaluar ingresos
            recibidos, capacidad de ahorro, deudas, además
            determinar cuáles son los objetivos concretos.</p>

          <p>Para una persona deben existir dos objetivos financieros
            aconsejables casi de manera universal: </p>

          <ul>
            <li>Aumentar los ahorros</li>
            <li>Controlar o disminuir los gastos.</li>
          </ul>

          <h3>Ahorro</h3>
          <p>¿Qué es el Ahorro? Consiste en separar o reservar una
            parte de los ingresos con el propósito de hacer uso en el
            futuro ya sea para un gasto previsto, imprevisto,
            emergencia o inversión.</p>

          <strong>Tips para ahorrar (Se trabajará en diseño a
            manera de infografía)</strong>

          <ul>
            <li>Destinar una cantidad de los ingresos
              semanales, quincenales o mensuales que se
              obtengan.</li>
            <li>Depositar en una Institución confiable,
              autorizada, segura, regulada y supervisadas.</li>
            <li>Adquirir bienes que sean necesarios evitando
              comprar por impulso, analizar antes de comprar
              y considerar todas las opciones y precios.</li>
          </ul>


          <h3>Inversión</h3>
          <p>Es la colocación de capital o dinero en un proyecto u
            operación financiero o no, con el objetivo de obtener un
            rendimiento económico dentro de un determinado plazo.
            Se debe diferenciar el ahorro de la inversión, el primero
            significa la reserva del dinero que no se gasta y por otro
            lado invertir significa destinar parte de ese dinero con la
            esperanza de ganar más, las opciones son diversas, se
            puede invertir en una cuenta de plazo fijo, un negocio,
            bienes raíces, etc.
          </p>

          <!-- <img src="assets/img-modulo5/10.png" width="300" alt="Alcancia de puerquito con una moneda"> -->
        </div>
        }@placeholder {<div style="height: 670px;"></div>}
      </div>

      <div class="bg-derecha mb-5">
        @defer(on viewport){
        <div class="text animate__animated animate__fadeInBottomRight animate__slow">

          <h3>INGRESO Y GASTO</h3>
          <h3>Ingresos</h3>
          <p>
            Los ingresos representan cualquier cantidad de dinero que
            entre a formar parte de la economía de una persona.
          </p>
          <p>
            Existen tres tipos de ingresos:
          </p>
          <p>
            <strong>Ingresos fijos:</strong> Son aquellos que se repiten de forma
            periódica o regular, como pueden ser: salario, pensión,
            subsidio, alquiler cobrado, entre otros.
          </p>
          <p>
            <strong>Ingresos variables:</strong>son constantes, pero no iguales,
            motivo por el cual presentan mayor dificultad para poder
            controlarlos y presupuestarlos; estos ingresos por ejemplo
            pueden ser los que reciben los pequeños empresarios y
            trabajadores temporales o con trabajos por comisión.
          </p>
          <p>
            Pensar que las personas con más ingresos cuentan con una
            mejor salud financiera podría parecer obvio, pero no
            siempre es así. En todos los contextos, la administración
            adecuada de los ingresos percibidos tiene un gran efecto
            en las finanzas individuales, puede ser el factor más
            importante.
          </p>
          <p>
            Las personas pueden ser financieramente sanas con
            ingresos limitados y las de mayores ingresos tener una
            situación financieramente adversa.
          </p>
          <p>
            Ingresos esporádicos: Son los que se obtienen con poca
            frecuencia, con intervalos de tiempo irregulares. Un ejemplo
            de ello seria los ingresos percibidos por una venta de garaje,
            trabajo ocasional, entre otros.
          </p>

        </div>
        }@placeholder {<div style="height: 670px;"></div>}


      </div>

      <div class="gasto mb-5">
        <div class="bg-izquierda">
          @defer(on viewport){
          <div class="text animate__animated animate__flip animate__slow animate__delay-2s">
            <h3>Gastos</h3>
            <p>Es un egreso o salida de dinero que una persona o empresa
              debe pagar para acreditar su derecho sobre un artículo o al
              recibir un servicio. Los gastos también pueden ser fijos,
              variables y ocasionales. Unos meses se gasta menos y al final
              hay excedentes. En otros, estos son mayores que los ingresos
              y se recurre al acumulado de meses anteriores para
              costearlos.</p>

            <p>Los problemas surgen cuando hay varios meses seguidos en
              los que los gastos superan a los ingresos. Entonces se agotan
              los excedentes y no hay más remedio que hacer uso de
              alternativas, que en ocasiones deterioran aún más la
              situación financiera, como por ejemplo recurrir a los créditos
              con altas tasas de interés, empeños y remate de bienes
              personales.</p>

            <p>Es aconsejable que el gasto no supere del 90% del ingreso,
              para poder ahorrar como mínimo, el 10% restante cada
              mes.</p>

            <p>A continuación, para completar la información anterior te
              damos un tip para ahorrar según los gastos.</p>

            <img src="assets/img-modulo5/14.svg" alt="">

          </div>
          }@placeholder {<div style="height: 670px;"></div>}
        </div>
      </div>

      <div class="regla mb-5">
        @defer(on viewport){
        <div class="bg animate__animated animate__zoomInUp animate__slow animate__delay-2s">
          <div class="text">
            <strong>Regla 50 – 40 – 10</strong>
            <p>Existe un modelo que menciona los porcentajes
              recomendados para ahorrar y que han demostrado
              ser efectivos al adaptarse a las necesidades
              específicas de cada persona.</p>
            <p>El 50% para gastos fijos. Constantes e iguales cada
              mes, como la hipoteca, préstamos, combustible,
              rentas, entre otros.</p>
            <p>El 40% para gastos variables. No son constantes ni de
              igual cantidad como “antojos”, diversión, gastos
              imprevistos, entre otros.</p>
            <p>El 10% son el ahorro, constante e igual, destinado a
              proyectos o necesidades a largo plazo</p>
          </div>
        </div>
        }@placeholder {<div style="height: 670px;"></div>}
      </div>
    </div>

    <div class="plan-ahorro">
      <div class="bg-izquierda">
        @defer(on viewport){
        <div class="text animate__animated animate__slideInLeft animate__slow animate__delay-2s">

          <h3>Plan de ahorro</h3>
          <p>Es un programa para acumular dinero de forma
            organizada, realista y proyectado a una meta especifica.</p>

          <p>El primer paso, es establecer prioridades y colocarse metas
            de ahorro en un tiempo determinado. Cada persona
            establece cuál es su objetivo a cumplir, por ejemplo: una
            casa, un viaje, una nueva televisión, una moto, un auto,
            entre otros.</p>

          <p>El segundo paso, es preguntarse y establecer cómo cumplir
            esta meta.</p>

          <p>Por último, para calcular cuánto debe ahorrar cada mes
            para lograr sus metas, esto se logrará dividiendo el costo
            total de esta entre los meses en que se desea cumplir.</p>

          <p>Por ejemplo, si el precio del viaje es de $5,800 para alcanzar
            la meta en 10 meses, el ahorro mensual deberá ser de $580
            pesos. </p>

          <p>Ahorro por mes = Costo total / tiempo estipulado en meses.</p>

          <img src="assets/img-modulo5/17.svg" alt="">

        </div>
        }@placeholder {<div style="height: 670px;"></div>}
      </div>
    </div>
  </div>

  <div class="planificacion">
    <div class="bg">
      @defer(on viewport){
      <div class="text">
        <h3>PLANIFICACIÓN Y PRESUPUESTO INDIVIDUAL/FAMILIAR</h3>
        <h3>¿Qué es un presupuesto?</h3>
        <p>
          Es una relación detallada y por escrito de los ingresos y gastos que se tienen
          durante un período de tiempo determinado. Es recomendable elaborarlo antes
          de que se produzcan estos ingresos y gastos, por ejemplo, el mes previo. El
          presupuesto ayuda a controlar los gastos identificando aquellos que no son
          necesarios y, por lo tanto, conocer la capacidad de ahorro y gasto.
        </p>
        <p>
          Elaborar un presupuesto no es una tarea complicada ni sugiere imágenes o
          situaciones desagradables, al contrario, es la forma más eficaz para administrar
          y aprovechar eficazmente el dinero.
        </p>
        <p>
          Realizar un presupuesto ayudará a:
        </p>

        <ul>
          <li>
            Saber en qué se gasta el dinero.
          </li>
          <li>
            Priorizar gastos.
          </li>
          <li>
            Reducir o eliminar deudas.
          </li>
          <li>
            Destinar alguna cantidad para ahorro todos los meses.
          </li>
          <li>
            Acumular un fondo para posibles emergencias o imprevistos.
          </li>
          <li>
            Vivir con tranquilidad.
          </li>
          <li>
            Hacer previsiones a futuro.
          </li>
          <li>
            Llevar un seguimiento y control de ingresos y gastos.
          </li>
        </ul>

        <h3>¿Cómo elaborar un presupuesto?</h3>

        <p>
          La mejor manera de ordenar la situación financiera personal o familiar y
          mantener un panorama claro, es mediante la elaboración de un presupuesto.
        </p>
        <p>
          Para poder realizar un presupuesto de manera objetiva, se debe considerar
          algunos puntos:
        </p>

        <ul>
          <li>
            Hacer conciencia sobre cuánto se gasta al mes, cotejando las cifras con la
            realidad.
          </li>
          <li>
            Clasificar, ordenar y guardar los documentos como facturas, notas, tickets,
            entre otros.
          </li>
          <li>
            Registrar y calendarizar los gastos.
          </li>
          <li>
            Conviene controlar regularmente el presupuesto: revisar los gastos y si es
            necesario, proceder a los ajustes oportunos, dada la flexibilidad del
            presupuesto.
          </li>
          <li>
            Identificar qué gastos se podrían reducir o posponer hasta un momento de
            mayor solvencia económica.
          </li>
          <li>
            Ahora, a la suma de tus ingresos, réstale los gastos, así obtendrás tu balance.
          </li>
        </ul>

      </div>

      }@placeholder {<div style="height: 670px;"></div>}
    </div>
  </div>

  <div class="pasos">
    <div class="bg">
      @defer(on viewport){
      <div class="text">
        <h3>Pasos para elaborar el presupuesto:</h3>
        <ul>
          <li>
            Suma todos tus ingresos
          </li>
          <li>
            Identifica y suma todos tus gastos:
            alimentación, transporte, renta, ropa, calzado,
            servicios, etc.
          </li>
          <li>
            Al total de tus ingresos resta el monto de tus
            gastos
          </li>
        </ul>
      </div>
      }@placeholder {<div style="height: 670px;"></div>}
    </div>
  </div>

</div>
