<div class="container">

  <h2>RETROALIMENTACIÓN</h2>

  <p>Relaciona las siguientes definiciones con los conceptos plasmados en el recuadro inferior.</p>

  <p>1) Es aquella deuda que una persona administra adecuadamente, que consiste en un préstamo acorde
    a su capacidad de pago y que ha sido adquirida con el objetivo de alcanzar una meta concreta.</p>
  <p>2) Son pequeños gastos que se hacen a diario y que, de alguna manera, se podría prescindir de ellos
    sin problema alguno. Es común no darse cuenta de todas las compras innecesarias que se realizan
    porque aparentemente suponen un importe muy bajo, pero que, sumado puede ser un monto
    bastante significativo.</p>

  <p>3) Consiste en guardar pequeñas cantidades de dinero, pero de forma constante y consciente.
    Guardando la cantidad que se pretendía gastar.</p>
  <p>4) Es un porcentaje aplicado a la operación que se realiza y representa el costo del dinero.</p>
  <p>5) Es un instrumento de ahorro. Se trata de un depósito de dinero que se realiza por un tiempo
    determinado. Concluido éste, la institución Financiera reembolsa el importe invertido más el interés
    generado.</p>
  <p>6) Es una calculadora en línea que permite hacer una estimación de cuotas y plazos para un préstamo.
    Ayuda a tomar una decisión apropiada al momento de solicitar un crédito, porque se logra determinar
    su valor mensual en función de la tasa de interés propuesta.</p>

  Escribe el número de la respuesta en el inciso

  <!-- Crea una tabla de 3 x 2 -->
  <form [formGroup]="respForm" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>Ahorro hormiga (<input type="text" name="" id="" alt="4" formControlName="resp1" style="width: 60px;">)</td>
        <td>Gasto hormiga (<input type="text" name="" id="" alt="2" formControlName="resp2" style="width: 60px;">)</td>
        <td>Plazo fijo (<input type="text" name="" id="" alt="3" formControlName="resp3" style="width: 60px;">)</td>
      </tr>
      <tr>
        <td>Simulador de crédito (<input type="text" name="" id="" alt="1" formControlName="resp4"
            style="width: 60px;">)</td>
        <td>Tasa de interés (<input type="text" name="" id="" alt="5" formControlName="resp5" style="width: 60px;">)
        </td>
        <td>Endeudamiento responsable (<input type="text" name="" id="" alt="6" formControlName="resp6"
            style="width: 60px;">)</td>
      </tr>
    </table>
    <button type="submit" [disabled]="!respForm.valid">Submit</button>
  </form>
</div>
