#mensaje {
  width: 350px;
  font-size: 24px;
  margin: 0 auto 21px auto;
  text-align: center;
}

#crucigrama {
  width: 70%;
  margin: 0 auto;
  padding: unset;
  max-width: 740px;
  display: none;
  JUSTIFY-CONTENT: SPACE-AROUND;
}

.casilla::placeholder {
  font-size: 10px;
  font-weight: bold;
  bottom: 15px;
  position: absolute;
  left: 1px;
}

.casilla {
  width: 34px;
  height: 34px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-right: 2px;
}

.table {
  background-color: white;
  width: 100%;
  font-size: 12px;
}

.table td,
th {
  padding: 0;
}

.table tbody td {
  padding: 0;
}


#btnContinuar {
  display: none;
  width: 100px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 auto;
  background-color: var(--color-primario);
  border: 0;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  margin-bottom: 150px;
}
