<footer>
  <div class="container__footer">

    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>

    <div class="row">

      <div class="box__footer col">
        <div class="logo">
          <img src="/assets/logo-Buro.png" width="200px" alt="">
        </div>
      </div>

      <div class="box__footer col">
        <h2>ENLACES WEB</h2>
        <a href="#">Aviso de Privacidad</a>
        <a href="#">Condusef</a>
        <a href="#">Unidad Especializada De Atención a Socios</a>
        <a href="#">Despachos De Cobranza Externos</a>
        <a href="#">Derechos Arco</a>
        <a href="#">Costos y Comisiones</a>
      </div>

      <div class="box__footer col">
        <h2>ENLACES ÚTILES</h2>
        <a href="#">Saldos en Línea</a>
        <a href="#">Quiero Ser Socio</a>
        <a href="#">Créditos</a>
        <a href="#">Sucursales</a>
        <a href="#">Historia</a>
      </div>

      <div class="box__footer col">
        <h2>S Í G U E N O S</h2>
        <p>REDES SOCIALES</p>
        <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
        <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
        <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
        <a href="#"><i class="fab fa-youtube-square"></i> Youtube</a>
      </div>

    </div>
  </div>
  <div class="box__copyright">
    <hr>
    <p> <i class="far fa-copyright"></i> 2015 - 2022 Caja Popular San Pablo S.C. de A.P. de R.L. de C.V.<br>
      <b>Reservados todos los derechos.</b>
    </p>
  </div>
</footer>
