<section class="modulo6">

  <div class="portada position-relative">

    <div class="title position-absolute">
      <h1 class="fw-bold animate__animated animate__fadeInLeftBig">MODULO 6</h1>
      <span class="p-3 bold animate__animated animate__fadeInLeftBig animate__delay-2s">EDUCACIÓN FINANCIERA I</span>
    </div>

  </div>

  <div class="obj-gen py-5">

    <div class="container">

      <div class="row overflow-hidden">

        <div class="col-12 col-lg-6">

          @defer (on viewport) {
          <div class="lib lib1 mb-4 animate__animated animate__bounceInLeft">
            <h2>OBJETIVO GENERAL</h2>
            <p>Proveer información que
              apoye a la adquisición de
              conocimientos para el
              desarrollo de habilidades que
              ayuden a manejar las finanzas
              sanamente, endeudamiento
              responsable, así como el
              manejo y control de la
              economía personal y familiar.
            </p>

          </div>

          }@placeholder {
          <div class="lib lib1 mb-4"></div>
          }

          @defer (on viewport) {
          <div class="lib lib2 text-center animate__animated animate__bounceInLeft animate__delay-2s">
            <h2>TEMA</h2>
            <ul>
              <li>Endeudamiento
                responsable</li>
              <li>Gasto hormiga</li>
              <li>Actividad: Gastos</li>
              <li>Ahorro hormiga</li>
              <li>Actividad</li>
              <li>Tasas de interés.</li>
              <li>Tipos de Crédito</li>
              <li>Simuladores de crédito</li>
              <li>Actividad: Calcula un
                préstamo</li>
              <li>Inversión A Plazo Fijo</li>
              <li>Retroalimentación</li>
            </ul>
          </div>
          }@placeholder {
          <div class="lib lib2 mb-4"></div>
          }

        </div>

        @defer (on viewport) {
        <div class="lib lib3 col-12 col-lg-6 animate__animated animate__bounceInRight animate__delay-2s">
          <h2>INTRODUCCIÓN</h2>
          <p class="just">
            Antes de contraer una deuda, es recomendable
            realizar un análisis exhaustivo de la situación
            económica. Este ejercicio, permitirá conocer el
            estado de los recursos a profundidad y con ello
            saber si se dispone de margen para asumir un
            mayor compromiso de pago.
            Contar con una deuda es totalmente habitual,
            dado que son muchas las ocasiones en las que no
            se dispone de capital necesario para asumir un
            determinado gasto o proyecto y se buscan
            opciones seguras para solventarlo.
            Con la educación financiera se puede ser capaz
            de manera autónoma, creativa y sólida de
            manejar las finanzas personales.
            Tener clara la situación financiera, es elemental,
            saber exactamente cuántos son los ingresos,
            gastos y a cuánto asciende la capacidad de
            endeudamiento, ayudará sin duda a administrar
            correctamente las finanzas y contribuirá a que las
            metas puestas sean alcanzadas.
          </p>

        </div>
        }@placeholder {
        <div class="lib lib3 mb-4"></div>
        }

      </div>

    </div>
  </div>


  <div class="endeudamiento-responsable py-5">

    <div class="container">

      <div class="row overflow-hidden">

        <div class="tabla-hoja">

          @defer (on viewport) {
          <div class="animate__animated animate__fadeInDown">
            <h2>ENDEUDAMIENTO RESPONSABLE</h2>
            <p>
              Cuando se administra adecuadamente una deuda, es que se le puede
              denominar Endeudamiento Responsable, esto consiste en un préstamo acorde a
              la capacidad de pago, que ha sido adquirido con el objetivo de alcanzar una
              meta concreta.
            </p>
            <p>
              Se refiere a poder alcanzar un nivel de compromiso que sea fácil afrontar con los
              ingresos disponibles. Básicamente, que se pueda pagar sin la necesidad de bajar
              la calidad de vida.
            </p>
            <p>
              La clave es no confundir la capacidad real de endeudamiento con el límite de
              crédito que te dan las Entidades Financieras. Es una combinación de saber cuánto
              es lo que se puede pagar y no comprometer la integridad de las finanzas
              personales. Además, es un indicador fundamental que éstas tendrán en cuenta
              para decidir si conceden o no cualquier tipo de financiamiento.
            </p>
            <p>
              Según expertos, la capacidad de endeudamiento se debería situar entre el 30% y
              35% de los ingresos de una persona. Así, para saber de manera precisa cuál es este
              indicador, se deberán calcular los ingresos mensuales y gastos fijos durante ese
              periodo, entre los que se considerarán, alimentación, vivienda, servicios básicos,
              transporte, créditos, entre otros.
            </p>
            <p>
              Para calcular la capacidad de endeudamiento existe la siguiente manera de
              elaborarla:
            </p>
          </div>
          }@placeholder {<div class=""></div> }

          @defer (on viewport) {
          <div class="marcatextos animate__animated animate__fadeInLeft">
            <p>
              (Ingresos Mensuales – Gastos Fijos) x 0,35 <br>
              = Capacidad de Endeudamiento
            </p>
          </div>
          }@placeholder {<div class=""></div> }


          @defer (on viewport) {
          <div class="hoja-doblada animate__animated animate__fadeInRight animate__delay-2s">
            <p>
              La fórmula anterior ayuda a obtener la cantidad de dinero que es posible gastar
              según lo que se gana mensualmente, se restan todos aquellos gastos que se
              tienen de forma segura y se multiplica por el porcentaje de deuda que
              podemos tener, para no rebasar la capacidad de endeudarse. Lo que lleva a
              una estabilidad económica. Por ejemplo:
            </p>
            <p>
              Si una persona gana $12,500 pesos al mes, se le restan $6,000 que paga de
              servicios, transporte por ejemplo y son gastos que no cambiaran. El resultado se
              multiplica por 0.35 para obtener la cantidad que de manera responsable se
              podrá endeudar sin ser irresponsable.
            </p>
          </div>
          }@placeholder {<div class=""></div> }

          @defer (on viewport) {
          <div class="animate__animated animate__fadeInUp animate__delay-2s">
            <p>
              De esta forma, se puede calcular fácilmente la capacidad de endeudamiento, lo
              que ayudará a saber si es posible adquirir nuevos compromisos.
            </p>

            <p>
              Sin olvidar que, para adquirir nuevas deudas, es indispensable tener la seguridad
              de la capacidad de pago para solventar compromisos sin forzar las finanzas.
            </p>

            <p>
              Hay factores que determinan, en mayor o menor grado, la capacidad de
              endeudamiento de una persona, por ejemplo:
            </p>

            <p>
              - La capacidad que se tenga para generar ingresos, a corto y largo plazo,
              mediante la actividad económica que se desempeña. También se debe
              valorar la periodicidad y la estabilidad de los mismos. <br>
              - La solvencia económica, es decir la capacidad para responder antes sus
              obligaciones financieras.<br>
              - Contar con bienes muebles o inmuebles (terrenos, casas, entre otros),
              pudiéndose usar estos como garantía para el pago de un préstamo.<br>
              - También entran en juego los avales, codeudores entre otros y la existencia de
              recursos por ejemplo los ahorros.
            </p>
          </div>
          }@placeholder {<div class=""></div> }

        </div>

      </div>

    </div>

  </div>

  <div class="gasto-hormiga py-5">
    <div class="container">

      <div class="tabla-hoja-horizontal">

        @defer (on viewport) {
        <div class="animate__animated animate__fadeInUp animate__delay-2s">
          <h1>GASTO HORMIGA</h1>
          <p>
            Se identifican así a los pequeños gastos que se hacen a diario y que, de alguna
            manera, se podría prescindir de ellos sin problema alguno. Es común, no darse
            cuenta de todas las compras innecesarias que se realizan porque
            aparentemente suponen un importe muy bajo, pero que, sumado puede ser
            un monto bastante significativo.
          </p>
          <p>
            Este tipo de gastos siguen un patrón muy determinado, algunas de sus
            características:
          </p>
          <ul>
            <li>
              Se realizan casi a diario.
            </li>
            <li>
              Se perciben como cantidades insignificantes de dinero.
            </li>
            <li>
              Compras por impulso o no consientes.
            </li>
            <li>
              Por lo general son innecesarios
            </li>
          </ul>

          <p>
            Algunos ejemplos pueden ser: comida a domicilio o fuera de casa, cafés,
            cenas con amigos, tabaco, comisiones o penalizaciones por pagos tardios,
            dulces o botana, agua embotellada, tarifas adicionales en servicios o
            suscripciones pagadas no utilizadas, entre otros.
          </p>
        </div>
        }@placeholder {<div class=""></div>}

        <div class="row">
          @defer (on viewport) {
          <div class="col">
            <img class="animate__animated animate__fadeInUp animate__delay-2s"
              src="../../../../assets/img-modulo6/17.svg" style="width:120px">
          </div>
          <div class="col">
            <img class="animate__animated animate__fadeInUp animate__delay-2s"
              src="../../../../assets/img-modulo6/18.svg" style="width:120px">
          </div>
          }@placeholder {<div class=""></div>}
          @defer (on viewport) {
          <div class="col">
            <img class="animate__animated animate__fadeInUp animate__delay-2s"
              src="../../../../assets/img-modulo6/19.svg" style="width:120px">
          </div>
          <div class="col">
            <img class="animate__animated animate__fadeInUp animate__delay-2s"
              src="../../../../assets/img-modulo6/21.svg" style="width:120px">
          </div>
          }@placeholder {<div class=""></div>}
        </div>

      </div>

    </div>
  </div>

  <div class="ahorro-hormiga py-5">

    <div class="tabla-hoja">
      <div class="container">

        @defer (on viewport) {
        <div class="animate__animated animate__fadeInUp">
          <h2>AHORRO HORMIGA</h2>

          <p>
            A diferencia del Gasto Hormiga, la técnica del Ahorro Hormiga consiste en guardar
            pequeñas cantidades de dinero, pero de forma constante y consciente. Un modelo muy
            común es, una vez detectados los Gastos Hormiga, eliminarlos o limitarlos, guardando esa
            cantidad que se pretendía gastar.
          </p>
          <p>
            Estos pequeños ahorros se pueden guardar en una alcancía, un frasco o algún objeto
            que permita almacenar el dinero, pero al mismo tiempo sea accesible para que después
            de un tiempo, se pueda retirar y depositarlo en una cuenta de ahorro segura o hacer uso
            de él.
          </p>
          <p>
            El Ahorro Hormiga también es colocar las monedas que se llevan en el monedero o bolsa
            en el día a día, esta técnica ni siquiera se contempla en el tipo de presupuesto que
            anteriormente se describió debido a que no se sabe la cantidad exacta a depositar, así
            que esas monedas se podrían aprovechar de esta manera.
          </p>
        </div>
        } @placeholder {<div class=""></div>}

        <div class="row">
          <div class="col-12 col-md-6">

            @defer (on viewport) {
            <div class="animate__animated animate__fadeInUp animate__delay-2s">
              <p>
                Este método es tan simple que no se siente la
                merma en el bolsillo, tampoco implica un
                sacrificio permanente, pues solo se depositaria
                el dinero que sobra.
              </p>
              <p>
                A diferencia del Gasto Hormiga en el que se
                desembolsa poco a poco y cuando menos se
                espera ya está afectado el presupuesto, el
                ahorro hormiga es una cantidad de dinero que
                se suma paulatinamente y sin conciencia de
                ello ya se tiene una cantidad para un
                imprevisto o para sumar al ahorro formal.
              </p>
              <p>
                Existen personas que verdaderamente se fijan
                como objetivo depositar cierto tipo de
                monedas, es decir, prefieren las monedas de
                10 pesos o de cinco.
              </p>
              <p>
                Pero, hagamos un ejercicio de lo que
                representará el ahorro de monedas de $10, $5
                y $1 en determinado periodo de tiempo.
              </p>
              <p>
                Cómo se puede observar, ahorrar las monedas
                del día a día y que no siempre se ven o se
                sienten, tiene sus beneficios, pues cuando
                menos se espera ya se ha acumulado una
                cantidad importante que puede ayudar ante
                imprevistos. Pero como todo, existen reglas que
                pueden ayudar a ordenar esta forma de
                ahorrar:
              </p>
            </div>
            } @placeholder {<div class=""></div>}

            @defer (on viewport) {
            <div class="animate__animated animate__fadeInUp animate__delay-2s">
              <ul>
                <li>1. Fijarse una meta, es decir, ya sea que el
                  compromiso sea solo llenar el frasco o se
                  realice en determinados días y durante cierto
                  tiempo.</li>
                <li>2. Utilizar la alarma del celular, para en ese
                  momento recordar buscar las monedas que
                  se traen en el bolsillo, bolsa o monedero,
                  tomará solo unos minutos.</li>
                <li>3. Si se busca más inspiración, vendría muy
                  bien plasmar una nota o leyenda en el
                  frasco, de manera que cada vez que se
                  depositen las monedas, pensando en la
                  meta fijada.</li>
              </ul>
            </div>
            } @placeholder {<div class=""></div>}

            <div class="d-flex flex-row justify-content-center">
              @defer (on viewport) {
              <img width="120px" class="animate__animated animate__fadeInUp animate__delay-3s"
                src="../../../../assets/img-modulo6/27.svg" style="margin-bottom: 1rem; margin: 0 auto;">
              <img width="120px" class="animate__animated animate__fadeInUp animate__delay-3s"
                src="../../../../assets/img-modulo6/26.svg" style="margin: 0 auto;">
              } @placeholder {<div class=""></div>}
            </div>

          </div>

          <div class="d-none d-md-block col-12 col-md-6">

            @defer (on viewport) {
            <img class="animate__animated animate__fadeInUp animate__delay-2s"
              src="../../../../assets/img-modulo6/28.svg">
            } @placeholder {<div class=""></div>}
          </div>

        </div>

      </div>
      <div class="d-block d-md-none">

        @defer (on viewport) {
        <img class="animate__animated animate__fadeInUp animate__delay-2s" src="../../../../assets/img-modulo6/28.svg">
        } @placeholder {<div class=""></div>}
      </div>
    </div>
  </div>

  <div class="tasas-interes py-5">

    <div class="tabla-hoja-horizontal">
      <div class="container">


        @defer (on viewport) {
        <div class="animate__animated animate__fadeInUp">
          <h2>TASAS DE INTERES</h2>
          <p>
            La tasa de interés es un porcentaje aplicado a la operación que se realiza y representa el
            costo del dinero.
          </p>
          <p>
            Por ejemplo, para llevar a cabo una compra o para cubrir cualquier otra necesidad, una
            Institución Financiera podrá otorgar un crédito, pero al reembolso cobrará un importe
            adicional por concepto de interés.
          </p>
          <p>
            Los bancos y las instituciones financieras, al igual que las personas, también piden
            prestado y lo hacen al Banco de México (Banxico). Este tiene su propia tasa de interés y es
            la que se conoce como “tasa de interés de referencia”.
          </p>
          <p>
            La tasa de referencia no es sólo el interés que Banxico cobra a las Instituciones Financieras
            por prestarles dinero, sino también es la que determina cuántos intereses les cobran a sus
            usuarios.
          </p>
          <p>
            Las tasas de interés, tienen diferentes nomenclaturas, determinaciones o aplicaciones
            según se trate de qué sistema las aplica. En el contexto de la banca se trabaja con tasas
            de interés distintas:
          </p>
          <p>
            <strong>Tasa de interés activa:</strong> porcentaje que las entidades financieras cobran por los diferentes
            tipos de servicios de crédito.
          </p>
          <p>
            <strong>Tasa de interés pasiva:</strong> porcentaje que paga una entidad financiera a quien deposita
            dinero.
          </p>

          <div class="d-flex justify-content-center align-items-center gap-5">
            <img class="animate__animated animate__fadeInUp animate__delay-2s"
              src="../../../../assets/img-modulo6/30.svg" width="120px">
            <img class="animate__animated animate__fadeInUp animate__delay-2s"
              src="../../../../assets/img-modulo6/31.svg" width="120px">
          </div>
        </div>
        } @placeholder {<div class=""></div>}
      </div>
    </div>

  </div>

  <div class="tipo-creditos py-5">

    <div class="tabla-hoja-horizontal">
      <div class="container">


        <div class="row">

          @defer (on viewport) {
          <div class="col-12 col-md-6 animate__animated animate__fadeInUp">
            <img src="../../../../assets/img-modulo6/35.png" alt="Hombre creditos">
          </div>
          <div
            class="col-12 col-md-6 animate__animated animate__fadeInUp d-flex flex-column justify-content-center align-items-center">
            <h2>TIPOS DE CRÉDITO</h2>
            <h3>Fundamentalmente encontramos:</h3>
          </div>
          } @placeholder {<div class=""></div> }

          @defer (on viewport) {
          <div class="col-12 col-md-4 animate__animated animate__fadeInUp animate__delay-2s animate__faster">
            <p>
              <strong> Consumo</strong>
              Es un monto en
              dinero de libre
              disposición, que se
              otorga para la
              adquisición de
              bienes o pago de
              servicios.
            </p>
          </div>

          <div class="col-12 col-md-4 animate__animated animate__fadeInUp animate__delay-2s animate__fast">
            <p>
              <strong> Vivienda</strong>
              Adquisición de
              vivienda nueva
              o usada,
              construcción o
              remodelación,
              construcción y/o
              sustitución de
              hipoteca.
            </p>
          </div>

          <div class="col-12 col-md-4 animate__animated animate__fadeInUp animate__delay-2s animate__slow">
            <p>
              <strong> Comercial</strong>
              Son montos de dinero
              que se otorgan para
              apoyar a empresas en
              sus operaciones. Los
              créditos de este tipo
              permiten el desarrollo
              de actividades de
              diferentes áreas.
            </p>
          </div>
          } @placeholder {<div class=""></div> }

          @defer (on viewport) {
          <div class="animate__animated animate__fadeInUp animate__delay-3s">
            <img src="../../../../assets/img-modulo6/43.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/44.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/45.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/46.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/47.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/48.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/49.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/50.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/51.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/52.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/53.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/54.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/55.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/56.svg" width="120" class="d-inline" alt="creditos">
            <img src="../../../../assets/img-modulo6/57.svg" width="120" class="d-inline" alt="creditos">
          </div>
          } @placeholder {<div class=""></div> }

        </div>
      </div>
    </div>

  </div>

  <div class="simuladores py-5">

    <div class="compu">
      <div class="container">

        @defer (on viewport) {
        <div class="animate__animated animate__fadeInUp animate__delay-2s">
          <h2>SIMULADORES DE CRÉDITO.</h2>

          <p>
            Un simulador de crédito es una calculadora en línea que permite hacer una
            estimación de cuotas y plazos para un préstamo. Ayuda a tomar una decisión
            apropiada, al momento de solicitar un crédito, porque se logra determinar su valor
            mensual en función de la tasa de interés propuesta.
          </p>

          <p>
            En Caja Popular San Pablo se tiene un simulador para cada Crédito, a través del sitio
            oficial, en el siguiente enlace de la página de Créditos los encontraras:
          </p>

        </div>


        <a href="https://www.libertadsanpablo.com/servicio/creditos"> https://www.libertadsanpablo.com
          /servicio/creditos
        </a>



        <p>
          <strong>
            A continuación, se explica cómo funciona un simulador:
          </strong>
        </p>

        <ul>
          <li>Importe es lo que se va a solicitar.</li>
          <li>Plazo en meses es el periodo para pagar el préstamo.</li>
          <li>Interés mensual se refiere a la tasa que maneja el crédito.</li>
          <li>Abono a capital resulta de dividir el importe entre los meses.</li>
          <li>El IVA resulta de multiplicar el interés del abono por 16% cuando así aplique</li>
          <li>La mensualidad (pagar) es la suma del abono a capital, más el interés, más el IVA.</li>
          <li>El saldo insoluto resulta de restar del monto el abono a capital.</li>
        </ul>
        } @placeholder {<div class=""></div> }
      </div>

    </div>


  </div>

  <div class="inversion-fijo py-5">

    <div class="tabla-hoja">
      <div class="container">

        <h2>INVERSION A PLAZO FIJO</h2>

        <p>
          Un plazo fijo, es un instrumento de ahorro. Se trata de un depósito de dinero
          que se realiza por un tiempo determinado. Concluido éste, la institución
          Financiera devuelve el importe invertido más el interés generado.
        </p>

        <div class="row">
          <div class="col-12 col-md-6">
            <strong>VENTAJAS:</strong>

            <ul>
              <li>Ganancia asegurada.</li>
              <li>No es necesario comenzar con una gran cantidad de dinero.</li>
              <li>Disponibilidad a la fecha de vencimiento.</li>
              <li>Puede aplicar la reinversión automática.</li>
              <li>Se puede elegir el plazo.</li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <strong>DESVENTAJAS:</strong>

            <ul>
              <li>Posible cobro de comisiones.</li>
              <li>Cobro de impuestos.</li>
              <li>Retiro de dinero hasta la fecha contratada.</li>
              <li>Dinero inmovilizado.</li>
              <li>Rentabilidad limitada.</li>
            </ul>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <img src="../../../../assets/img-modulo6/10.svg" style="width:150px">
          </div>
          <div class="col">
            <img src="../../../../assets/img-modulo6/12.svg" style="width:150px">
          </div>
          <div class="col">
            <img src="../../../../assets/img-modulo6/17.svg" style="width:150px">
          </div>
        </div>

      </div>

    </div>
  </div>

  <app-retro-act6></app-retro-act6>




</section>
