<div class="modulo2">

  <section class="modulo-dos">
    <div class="info animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft">
      <h1 class="animate-on-scroll">MÓDULO 2</h1>
      <img src="assets/img-modulo2/Recurso19.webp" alt="Hoja blanca">
    </div>
  </section>

  <section class="objetivo-general">

    <div class="info">
      <div class="bg animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft">

        <div class="objetivo-general-container d-flex justify-content-center align-items-center p-4">
          <div class="info2 text-center">
            <img src="assets/img-modulo2/cinta-objetivo-general.svg" alt="Cinta objetivo general">
            <p>Conocer que es una Cooperativa,
              sus Principios y Valores, así como
              otras Sociedades Financieras, sus
              generalidades y diferenciadores
              que permitan determinar el
              alcance y objeto de acción de
              cada una.
            </p>
          </div>
        </div>
      </div>
      <div class="tema d-flex justify-content-center align-items-center animate-on-scroll" style="opacity: 0;"
        data-animate="animate__backInLeft">
        <div class="info3">
          <h2>TEMA</h2>
          <ul>
            <li>¿Qué es una Cooperativa?</li>
            <li>Principios Cooperativos</li>
            <li>Valores del Cooperativismo</li>
            <li>Actividad: Crucigrama</li>
            <li>Tipos de Sociedades Financieras: SOCAP, SOFIPO y SOFOM</li>
            <li>Retroalimentación</li>
          </ul>
        </div>
      </div>

    </div>
  </section>

  <section class="introduccion">
    <div class="intro-info animate-on-scroll" style="opacity: 0;" data-animate="animate__backInDown">
      <h1>INTRODUCCIÓN</h1>
      <p>Cuando los seres humanos se unen para
        defenderse o bien, para conseguir con su
        esfuerzo conjunto resultados que
        individualmente no serían capaces de realizar,
        sin duda alguna están aplicando el Espíritu
        Cooperativo, pues hay una organización en
        común acuerdo para trabajar en equipo, esta
        forma de colaboración la encontramos en casi
        todas las épocas de la historia de la
        humanidad, que ha evolucionado hasta
        convertirse en lo que hoy conocemos como
        Cooperativismo.

        Con la formulación de Principios y una Filosofía
        basados en la concepción social que propone
        esta forma de organizarse y apoyarse
        mutuamente entre individuos, se desarrollan
        importantes modelos del Cooperativismo,
        creando así Instituciones dedicadas
        exclusivamente a promover la Solidaridad
        entre sus miembros, formalizando así estas
        opciones.

        En 1995, la Alianza Cooperativa Internacional,
        por sus siglas ACI, adoptó la Declaración
        revisada sobre la Identidad Cooperativa que
        contiene: la Definición, los Valores y los Siete
        Principios Cooperativos, que fungen como un
        manual universal sobre la aplicación y buen
        manejo de este tipo de instituciones, de aquí
        podemos partir con el proceso que las
        formalizó y que conocemos al día de hoy</p>
    </div>
  </section>

  <section class="que-es-una-cooperativa">
    <div class="info">
      <img src="assets/img-modulo2/que-es-una-cooperativa.svg" alt="cinta que es una cooperativa"
        class="animate-on-scroll" style="opacity: 0;" data-animate="animate__flash">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <img src="assets/img-modulo2/7.svg" alt="Nota azul" class="animate-on-scroll" style="opacity: 0;"
            data-animate="animate__fadeInLeft">
        </div>
        <div class=" col-12 col-md-6">
          <img src="assets/img-modulo2/6.svg" alt="Nota azul" class="animate-on-scroll" style="opacity: 0;"
            data-animate="animate__fadeInRight">
        </div>
        <div class=" col-12 col-md-6 mb-4">
          <img src="assets/img-modulo2/4.svg" alt="Nota amarilla" class="animate-on-scroll" style="opacity: 0;"
            data-animate="animate__fadeInLeft">
        </div>
        <div class=" col-12 col-md-6">
          <img src="assets/img-modulo2/5.svg" alt="Nota azul" class="animate-on-scroll" style="opacity: 0;"
            data-animate="animate__fadeInRight">
        </div>
        <div class="col-12 col-md-6">
          <img src="assets/img-modulo2/1.svg" alt="Nota azul" class="animate-on-scroll" style="opacity: 0;"
            data-animate="animate__fadeInLeft">
        </div>
        <div class=" col-12 col-md-6">
          <img src="assets/img-modulo2/3.svg" alt="Nota amarilla" class="animate-on-scroll" style="opacity: 0;"
            data-animate="animate__fadeInRight">
        </div>
      </div>

    </div>
  </section>

  <section class="florencio-eguia-villaseñor">

    <div class="florencio">

      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <img id="florencio" src="assets/img-modulo2/florencio.png" alt="Florencio Eguía Villaseñor"
              class="animate-on-scroll" style="opacity: 0;" data-animate="animate__fadeInDown">
          </div>
          <div class="px-lg-5 col-12 col-md-6 col-lg-8">
            <img id="img-title" src="assets/img-modulo2/florencio-title.svg" alt="Cinta Florencio"
              class="animate-on-scroll" style="opacity: 0;" data-animate="animate__fadeInRight">
            <p class="animate-on-scroll" style="opacity: 0;" data-animate="animate__fadeInRight">
              Su pasión para promover el ahorro, la
              ayuda mutua y la Educación
              Cooperativa y Financiera, fueron su
              estandarte. La Cooperación, consiste
              en el conjunto de esfuerzos de un
              grupo de personas, con identidad de
              doctrina e intereses comunes, con el
              fin de mejorar sus condiciones de vida.
              Puede entenderse, como un
              sentimiento de comprensión y de
              solidaridad entre todos los que sufren
              la explotación y la tiranía del
              imperialismo, un deseo humanitario y
              altruista de acabar con el egoísmo
              fomentado por el afán inmoderado
              de lucro
            </p>
          </div>
        </div>

        <div class="row">
          <div class="hoja-naranja col-12 col-lg-7">

            <img src="assets/img-modulo2/florencio-hoja-naranja.svg" alt="hoja naranja" class="animate-on-scroll" style="opacity: 0;"
              data-animate="animate__fadeInDown">

          </div>
          <div class="florencio-buzon col-12 col-lg-5">
            <img src="assets/img-modulo2/florencio-buzon.svg" alt="buzon azul" class="animate-on-scroll" style="opacity: 0;"
              data-animate="animate__fadeInRight">
          </div>
        </div>
      </div>


    </div>


  </section>

  <section class="principios-cooperativos">
    <div class="bg">
      <div class="container">

        <img src="assets/img-modulo2/principios-cooperativos.svg" alt="cinta principios cooperativos"
          class="animate-on-scroll" style="opacity: 0;" data-animate="animate__flash">
        <p class="animate-on-scroll" style="opacity: 0;" data-animate="animate__backInUp">Los Principios Cooperativos son las directrices
          mediante las cuales, las
          Cooperativas ponen en práctica sus valores.
          La construcción del pensamiento Cooperativo no surge de manera
          espontánea; en realidad ha sido un cúmulo de experiencias de
          intelectuales, empresarios sociales, trabajadores y obreros, pero, sobre
          todo, de los ideales de quienes, con su trabajo e interés, aportaron
          experiencia y esfuerzo en busca de mejorar las condiciones de vida de la
          clase trabajadora, así como mantenerse actualizados para replantear los
          Principios Cooperativos, de manera que continúen vigentes
        </p>
        <p class="animate-on-scroll" style="opacity: 0;" data-animate="animate__backInUp">
          La nueva Declaración de Identidad Cooperativa adoptada en 1995, por
          la II Asamblea General de la ACI, mantiene la esencia de un sistema de
          principios y valores que demostró ser eficiente a través de la historia y
          contribuyó a transformar al Cooperativismo en una de las mayores fuerzas
          sociales y económicas a nivel mundial, a la vez que incorpora nuevos
          elementos para una mejor interpretación del momento histórico actual.
          A continuación, se muestran los Principios Cooperativos y la descripción de
          cada uno:
        </p>

        <img src="assets/img-modulo2/manos.svg" alt="manos azules" class="animate-on-scroll" style="opacity: 0;"
          data-animate="animate__pulse">

      </div>
    </div>
  </section>

  <section class="siete-principios">
    <div class="bg">

      <!-- <img src="assets/img-modulo2/banda-vertical-amarilla.svg"  class="banda-vertical"> -->
      <table>
        <tbody>
          <tr>
            <td class="image"><img src="assets/img-modulo2/pin1.svg" alt="pin manos" class="animate-on-scroll"
                data-animate="animate__flip"></td>
            <td>
              <div class="desc animate-on-scroll" data-animate="animate__bounceInRight">
                <h1>1. Adhesión voluntaria y abierta</h1>
                <p>Las Cooperativas son organizaciones voluntarias,
                  abiertas a todas las personas que quieran utilizar sus
                  servicios y que deseen aceptar las responsabilidades
                  de la afiliación, sin discriminación social, de género,
                  racial, política, religiosa o discapacidad.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="image"><img src="assets/img-modulo2/pin2.svg" alt="pin rompecabeza" class="animate-on-scroll"
                data-animate="animate__flip"></td>
            <td>
              <div class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">

                <h1>2. Gestión democrática de los miembros</h1>
                <p>Las Cooperativas son organizaciones democráticas
                  controladas por sus integrantes, que participan
                  activamente en el establecimiento de sus políticas y en
                  la toma de decisiones. Todos los Socios que
                  desempeñan la función de delegados seleccionados
                  son representantes de todos los miembros presentes,
                  ausentes y disidentes.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="image"><img src="assets/img-modulo2/pin3.svg" alt="pin moneda" class="animate-on-scroll"
                data-animate="animate__flip"></td>
            <td>
              <div class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">

                <h1>3. Participación económica de los
                  miembros</h1>
                <p>Los Socios contribuyen de forma equitativa al capital
                  de la Cooperativa y lo controlan democráticamente.
                  Los miembros destinan los beneficios a cualquiera de
                  las siguientes finalidades:</p>
                <ul>
                  <li>Desarrollar su Cooperativa, por ejemplo, mediante la
                    constitución de reservas.</li>
                  <li>Beneficiar a los miembros en sus transacciones con la
                    Cooperativa</li>
                  <li>Apoyar otras actividades aprobadas por su
                    membresía.</li>
                </ul>

              </div>
            </td>
          </tr>
          <tr>
            <td class="image"><img src="assets/img-modulo2/pin4.svg" alt="pin puño cerrado" class="animate-on-scroll"
                data-animate="animate__flip"></td>
            <td>
              <div class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">

                <h1>4. Autonomía e independencia</h1>
                <p>Las Cooperativas son organizaciones autónomas de
                  ayuda mutua gestionadas por sus miembros. Si se llega
                  a un acuerdo con organizaciones externas, incluidos los
                  gobiernos o se aumenta su capital de fuentes externas,
                  deberá hacerse de forma que se asegure el control
                  democrático de sus Socios y se mantenga la
                  autonomía de la Cooperativa.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="image"><img src="assets/img-modulo2/pin5.svg" alt="pin libro" class="animate-on-scroll"
                data-animate="animate__flip"></td>
            <td>
              <div class="desc animate-on-scroll" data-animate="animate__bounceInRight">

                <h1>5. Educación, formación e información</h1>
                <p>Las Cooperativas ofrecen educación y/o capacitación
                  a Socios, Directores, Consejeros, Empleados y
                  Funcionarios para que puedan contribuir de forma
                  efectiva al desarrollo en las mismas. Por otro lado,
                  informan al público en general sobre la naturaleza y los
                  beneficios de la Cooperación.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="image"><img src="assets/img-modulo2/pin6.svg" alt="pin manos estrechadas"
                class="animate-on-scroll" data-animate="animate__flip"></td>
            <td>
              <div class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">

                <h1>6. Cooperación entre Cooperativas</h1>
                <p>Las Cooperativas sirven de forma más efectiva a sus
                  integrantes y fortalecen el movimiento cooperativo
                  trabajando con estructuras locales, regionales,
                  nacionales e internacionales.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="image"><img src="assets/img-modulo2/pin7.svg" alt="pin 4 manos sujetadas"
                class="animate-on-scroll"  data-animate="animate__flip"></td>
            <td>
              <div class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">

                <h1>7. Interés por la comunidad</h1>
                <p>Las Cooperativas trabajan para el desarrollo sostenible
                  de sus comunidades a través de políticas aprobadas
                  por sus miembros.
                </p>
              </div>
            </td>
          </tr>

      </table>
    </div>
  </section>


  <section class="valores-del-cooperativismo">
    <div class="bg">

      <div class="valores animate-on-scroll" style="opacity: 0;" data-animate="animate__fadeInDown">
        <h1 class="m-0">VALORES DEL COOPERATIVISMO</h1>
        <p class="m-0">Son virtudes o cualidades que caracterizan a una Cooperativa, se consideran
          positivos y de gran importancia, que rigen la organización y que, sin fines de
          lucro, buscan invariablemente el crecimiento económico y social de su
          comunidad, siendo fieles a los deseos de sus fundadores</p>
      </div>

      <table>
        <tbody>
          <tr>
            <div class="capsula mt-4">
              <td class="image animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft"><img
                  src="assets/img-modulo2/ayuda.svg"></td>
              <td class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
                <h1>Ayuda Mutua</h1>
                <p>Es uno de los valores principales, pues las
                  Cooperativas nacen con la firme misión de generar
                  ayuda entre los que voluntariamente deciden
                  formar parte de la Institución.</p>
              </td>
            </div>
          </tr>
          <tr>
            <div class="capsula">
              <td class="image animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight"><img
                  src="assets/img-modulo2/responsabilidad.svg"></td>
              <td class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
                <h1>Responsabilidad</h1>
                <p>La responsabilidad como valor moral es la
                  capacidad de respuesta de las personas ante un
                  deber asumido. En una Sociedad de ayuda mutua,
                  se conceptúa como el compromiso ineludible hacia
                  los demás y como reciprocidad esperada del
                  ayudado para corresponder por el servicio recibido.</p>
              </td>
            </div>
          </tr>
          <tr>
            <div class="capsula">
              <td class="image animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft"><img
                  src="assets/img-modulo2/democracia.svg"></td>
              <td class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
                <h1>Democracia</h1>
                <p>Se refiere a que en la Cooperativa se toman las
                  decisiones por las personas en mayoría en completa
                  igualdad y de responsabilidad.
                  Lincoln definió la democracia como “El Gobierno del
                  Pueblo, por el Pueblo y para el Pueblo”, indicando
                  que una comunidad puede organizarse entre sí, que
                  beneficien a todos.</p>
              </td>
            </div>
          </tr>
          <tr>
            <div class="capsula">
              <td class="image animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft"><img
                  src="assets/img-modulo2/igualdad.svg"></td>
              <td class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
                <h1>Igualdad</h1>
                <p>Establece que nadie puede ser tratado de modo
                  discriminado o privilegiado a pesar de que algunos
                  sean más antiguos como Socios o que desempeñen
                  algún cargo como Empleado, Funcionario o
                  Consejero.</p>
              </td>
            </div>
          </tr>
          <tr>
            <div class="capsula">
              <td class="image animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft"><img
                  src="assets/img-modulo2/equidad.svg"></td>
              <td class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
                <h1>Equidad</h1>
                <p>Trato justo a las personas, dando a cada cual lo que
                  le pertenece independientemente de su cargo,
                  responsabilidad o estatus en la Cooperativa.</p>
              </td>
            </div>
          </tr>
          <tr>
            <div class="capsula">
              <td class="image animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft"><img
                  src="assets/img-modulo2/solidaridad.svg"></td>
              <td class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
                <h1>Solidaridad</h1>
                <p>Es el sentimiento y la actitud de unidad o ayuda de
                  manera desinteresada o sin esperar nada a cambio,
                  el Movimiento Cooperativo está basado en
                  compromisos, metas e intereses comunes.</p>
              </td>
            </div>
          </tr>
          <tr>
            <div class="capsula">
              <td class="image animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft"><img
                  src="assets/img-modulo2/honestidad.svg"></td>
              <td class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
                <h1>Honestidad</h1>
                <p>Está vinculada con la decencia y se conoce
                  también como probidad y es opuesta a cualquier
                  forma de engaño, mentira, fraude o falsedad.</p>
              </td>
            </div>
          </tr>
          <tr>
            <div class="capsula">
              <td class="image animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft"><img
                  src="assets/img-modulo2/transparencia.svg"></td>
              <td class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
                <h1>Transparencia</h1>
                <p>La Cooperativa es una Sociedad transparente
                  dirigida por sus propios integrantes, no persigue el
                  lucro sino el servicio, en su operatividad se aplica un
                  sistema de autocontrol que permite ver la actividad
                  cotidiana con claridad.</p>
              </td>
            </div>
          </tr>
          <tr>
            <div class="capsula">
              <td class="image animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft"><img
                  src="assets/img-modulo2/compromiso.svg"></td>
              <td class="desc animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
                <h1>Compromiso con los demás</h1>
                <p>La Cooperativa es una Sociedad transparente
                  dirigida por sus propios integrantes, no persigue el
                  lucro sino el servicio, en su operatividad se aplica un
                  sistema de autocontrol que permite ver la actividad
                  cotidiana con claridad.</p>
              </td>
            </div>
          </tr>
        </tbody>
      </table>

      <div class="d-flex">
        <img id="img-mundo" src="assets/img-modulo2/circulo.svg" class="animate-on-scroll" style="opacity: 0;"
          data-animate="animate__rotateIn">
      </div>
    </div>

  </section>


  <section class="tipos-de-financieras">

    <div class="socap-sofipo-sofom mb-5">

      <div class="row">
        <div class="col-12 col-sm-7 d-flex flex-column animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft">
          <img src="assets/img-modulo2/tipos-de-sociedades.svg" class="mt-5 m-sm-0">
          <p>Algunas de las Entidades que
            integran el sector financiero son las
            SOCAPS, SOFIPOS y SOFOMES, de
            las cuales se menciona un breve
            contexto de cada una de ellas.</p>
        </div>
        <div class="col-12 col-sm-5 d-flex animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
          <img src="assets/img-modulo2/caja-fuerte.svg">
        </div>
      </div>
    </div>

    <div class="socap">
      <h1 class="animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft">Sociedad Cooperativa de Ahorro y Préstamo (SOCAP)
      </h1>

      <div class="row py-2">

        <div class="col-12 col-md-6 px-5 animate-on-scroll" style="opacity: 0;" data-animate="animate__flash">
          <p>Son instituciones financieras
            orientadas al sector social, no
            tienen fines de lucro, realizan
            operaciones de ahorro y préstamo
            y únicamente ofrecen sus servicios
            a sus Socios.
            Pueden encontrarse bajo el
            nombre de Caja, Caja Popular,
            Cooperativa, Caja de Ahorro, Caja
            Solidaria, Caja Comunitaria,
            Cooperativa de Ahorro y Crédito,
            Cooperativa de Ahorro y Préstamo,
            etc.
            Se clasifican por nivel de operación
            y éste depende del monto total de
            activos con que
            cuenten.Entendiéndose por activos
            todos los bienes y derechos de una
            Institución Financiera susceptibles
            de ser valorados en dinero.</p>
        </div>
        <div class="col-12 col-md-6 px-5 mb-3 m-md-0 d-flex animate-on-scroll" data-animate="animate__pulse">
          <img id="caja-de-ahorros" src="assets/img-modulo2/caja-de-ahorros.svg">
        </div>

        <img id="dividen" src="assets/img-modulo2/dinero-creciendo.svg" class="animate-on-scroll" style="opacity: 0;"
          data-animate="animate__backInLeft">

        <div class="row p-5">
          <div class="col-12 col-md-8 animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft">
            <p>
              Las SOCAP’S cuyos activos rebasan
              los 2.5 millones de UDIS, requieren la
              autorización de la CNBV y se
              clasifican de la siguiente manera:
            </p>
            <ul>

              <li>NIVEL I: Monto de activos totales
                iguales o inferiores a 10 millones de
                UDIS.</li>
              <li>NIVEL II: Monto de activos totales
                superiores a 10 millones e iguales o
                inferiores a 50 millones de UDIS.</li>
              <li>NIVEL III: Monto de activos totales
                superiores a 50 millones e iguales o
                inferiores a 250 millones de UDIS.</li>
              <li>NIVEL IV: Monto de activos totales
                superiores a 250 millones de UDIS.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4 d-flex animate-on-scroll" data-animate="animate__backInRight">
            <img id="termometro" src="assets/img-modulo2/termometro.svg">
          </div>
        </div>
      </div>



    </div>




    <div class="sofipo">
      <h1 class="animate-on-scroll" data-animate="animate__backInLeft">Sociedad Financiera Popular (SOFIPO)</h1>


      <div class="row p-5">
        <div class="col-12 col-md-8 animate-on-scroll" data-animate="animate__backInLeft">
          <p>Son Entidades constituidas como
            Sociedades Anónimas de Capital
            Variable (SOFIPO) y están
            facultadas para prestar servicios a
            sus clientes, en los términos de la Ley
            de Ahorro y Crédito Popular.
            A diferencia de las Sociedades
            Cooperativas de Ahorro y
            Préstamo, las Sociedades
            Financieras Populares su
            clasificación es de la siguiente
            manera:
          </p>

          <ul>
            <li>NIVEL I: Monto de activos totales
              iguales o inferiores a 15 millones de
              UDIS.</li>
            <li>NIVEL II: Monto de activos totales
              superiores a 15 millones e iguales o
              inferiores a 50 millones de UDIS.</li>
            <li>NIVEL III: Monto de activos totales
              superiores a 50 millones e iguales o
              inferiores a 280 millones de UDIS.</li>
            <li>NIVEL IV: Monto de activos totales
              superiores a 280 millones de UDIS.</li>
          </ul>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column">
          <img src="assets/img-modulo2/socap.svg" class="mb-5 animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
          <a id="condusef" href="www.condusef.gob.mx" class="text-center text-md-start animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">www.condusef.gob.mx</a>
        </div>
      </div>

      <h2 class="animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft">Sociedades Financieras de Objeto Múltiple (SOFOM)</h2>

      <div class="row p-5">
        <div class="col-12 col-md-8 mb-5">
          <p class="animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft">Son Sociedades Anónimas que se
            clasifican en reguladas y no
            reguladas, cuyo objeto principal es
            el otorgamiento de crédito,
            arrendamiento o factoraje
            financiero (préstamos anticipados)
            a pequeñas y medianas empresas,
            así como, a personas físicas.
            Se dedican a otorgar distintos tipos
            de créditos para el público en
            general, pero a diferencia de una
            SOCAP, éstas no pueden abrir
            cuentas de ahorro</p>
          <a id="cnbv" href="www.gob.mx/cnbv" class="animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft">www.gob.mx/cnbv</a>
        </div>
        <div class="col-12 col-md-4 animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight">
          <img src="assets/img-modulo2/sofom.svg">
        </div>
      </div>

    </div>
  </section>


  <section class="tabla-comparativa mb-5 pb-5">
    <div class="bg d-flex flex-column">

      <img id="tabla" src="assets/img-modulo2/tabla comparativa.svg" class="animate-on-scroll" style="opacity: 0;" data-animate="animate__flash">

      <div class="row">
        <div class="d-flex col-12 col-md-6">
          <img class="ilustracion animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft" src="assets/img-modulo2/billetera.svg">
        </div>
        <div class="d-flex col-12 col-md-6">
          <img class="ilustracion animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight" src="assets/img-modulo2/pilares.svg">
        </div>
        <div class="d-flex col-12 col-md-6">
          <img class="ilustracion animate-on-scroll" style="opacity: 0;" data-animate="animate__backInLeft" src="assets/img-modulo2/frasco.svg">
        </div>
        <div class="d-flex col-12 col-md-6">
          <img class="ilustracion animate-on-scroll" style="opacity: 0;" data-animate="animate__backInRight" src="assets/img-modulo2/dinero en mano.svg">
        </div>
      </div>

    </div>
  </section>

  <div class="actividad2-crucigrama">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xl-6">

          <h1>Actividad: Crucigrama</h1>

          <h2>Horizontales</h2>

          <ul>
            <li>
              1. Es un valor Cooperativo, las decisiones son tomadas por
              mayoría de votos.
            </li>
            <li>
              5. Asociación que está centrada en las personas que a ella
              pertenecen, es controlada por sus integrantes, quienes las
              dirigen para dar respuesta a las necesidades y objetivos de
              carácter económico, social y cultural comunes.
            </li>
            <li>
              6. Es un valor Cooperativo, las decisiones son tomadas por
              mayoría de votos.
            </li>
            <li>
              7. No tienen fines de lucro, realizan operaciones de ahorro y
              préstamo y únicamente ofrecen sus servicios a sus Socios.
            </li>
            <li>
              8. Nadie puede ser tratado de modo preferente en la
              Cooperativa a pesar de que algunos sean más antiguos como
              Socios o desempeñen algún cargo como consejeros,
              funcionarios o colaboradores
            </li>
            <li>
              9. Directrices mediante las cuales una Cooperativa ponen en
              práctica sus valores.
            </li>
            <li>
              10. Virtud de una Cooperativa, que la convierte en el mejor modelo
              económico para alcanzar una sociedad más justa y sostenible.
            </li>

          </ul>

          <h2>Verticales</h2>

          <ul>
            <li>
              2. Las Cooperativas son organizaciones independientes,
              gestionadas por sus miembros.
            </li>
            <li>
              3. Es una sociedad con fines de lucro especializada para prestar
              servicios de depósitos y crédito al público en general.
            </li>
            <li>
              4. La adhesión a la causa de los demás haciéndonos unos con
              ellos hasta correr una misma suerte.
            </li>

          </ul>

          <input id="btnComenzar" (click)="changeStyles('mostrarCrucigrama')" type="button" value="Iniciar actividad"
            class="mb-5">

        </div>
        <div class="col-lg-12 col-xl-6">

          <div class="bg">

            <app-crucigrama-act2 [display]="display" [columnas]="columnas" [filas]="filas" [placeholders]="placeholders"
              [enable]="enable"></app-crucigrama-act2>

          </div>
        </div>
      </div>
    </div>


  </div>

</div>
